<div id="terratype_{{view().identifier}}_googlemapv3">
    <div ng-show="view().status.loading">
        <img ng-src="{{view().images.loading}}" />
    </div>
    <div ng-show="view().status.failed">
        <img ng-src="{{view().images.failed}}" />
        <span style="color:red;padding-right:10px;"><localize key="terratypeGoogleMapsV3EditorApperance_statusInvalid">Invalid Google Map API Key</localize></span>
    </div>
    <div ng-show="view().status.error">
        <img ng-src="{{view().images.failed}}" />
        <span style="color:red;padding-right:10px;"><localize key="terratypeGoogleMapsV3EditorApperance_statusError">Failed to load Google Maps V3 multiple times, please manually refresh the page and try again</localize></span>
    </div>
    <div ng-show="view().status.duplicate">
        <img ng-src="{{view().images.failed}}" />
        <span style="color:red;padding-right:10px;"><localize key="terratypeGoogleMapsV3EditorApperance_statusDuplicate">Detected multiple GoogleMapsV3 maps with different configuration; All Google Maps must share the same Api Key, Coordinate System, ForceHttps switch and Language settings</localize></span>
    </div>
    <div ng-show="view().status.searchFailed">
        <img ng-src="{{view().images.failed}}" />
        <span style="color:red;padding-right:10px;"><localize key="terratypeGoogleMapsV3EditorApperance_statusSearchFailed">Need to enable Google Places API Web Service</localize></span>
    </div>

    <div ng-show="view().status.success" class="umb-editor">
        <div>
            <div ng-show="store().search.enable != 0 && config().search.enable != 0">
                <input id="terratype_{{view().identifier}}_googlemapv3_lookup" class="umb-editor umb-textstring textstring" type="text" localize="placeholder" placeholder="@terratypeGoogleMapsV3EditorApperance_searchPlaceholder" ng-model="store().lookup" spellcheck=false style="z-index: 10000 !important;">
            </div>
        </div>
        <div style="height:1px;width:206px;display:inline-block;">
             &nbsp;
        </div>
        <div style="margin-top:-15px;">
            <div style="overflow:hidden;">
                <div id="terratype_{{view().identifier}}_googlemapv3_map" style="height:{{config().height}}px" ng-show="view().showMap">
                </div>
            </div>
        </div>
        <div style="height:1px;width:206px;display:inline-block;">
            &nbsp;
        </div>
        <div style="margin-top:-15px;">
            <div>
                <input type="text" id="terratype_{{view().identifier}}_googlemapv3_location" class="umb-editor umb-textstring textstring" localize="placeholder" placeholder="@terratypeGoogleMapsV3EditorApperance_locationPlaceholder" ng-model="view().position.datumText" ng-change="view().provider.events.datumChange(view().position.datumText)" ng-style="view().position.datumStyle" />
            </div>
        </div>
    </div>
</div>
