/src/AngularGoogleMaps/obj
src/AngularGoogleMaps.TestSite/App_Data/Logs/UmbracoTraceLog.txt
src/AngularGoogleMaps.TestSite/App_Data/Logs/UmbracoTraceLog.txt.2015-05-24
src/AngularGoogleMaps.TestSite/App_Data/TEMP/ClientDependency/LAPTOPI7-75cccda0f071a2921ee8f1ec7e78037b-map.xml
src/AngularGoogleMaps.TestSite/App_Data/TEMP/PluginCache/umbraco-plugins.LAPTOPI7.hash
src/AngularGoogleMaps.TestSite/App_Data/TEMP/PluginCache/umbraco-plugins.LAPTOPI7.list

bin
obj
packages
App_Data

*.suo
*.user
*.nupkg
*.orig
*.cache
.vs/
TileServer/TerratypeTileServer V1/
TileServer/TerratypeTileServer V2/
