<div class="ng-cloak terratype" ng-controller="terratype.grid.overlay" ng-init="init()">

    <div class="umb-el-wrap control-group">
        <div ng-show="view().gridOverlay.dataTypes.length != 0">
            <label for="terratype_{{identifier}}_grid_datatypes" class="control-label">
                <localize key="terratypeGridOverlay_dataTypeLabel">Map:</localize>
                <small>
                    <localize key="terratypeGridOverlay_dataTypeDescription">Select which map you would like to use</localize>
                </small>
            </label>
            <div class="controls">
                <select id="terratype_{{identifier}}_grid_datatypes" ng-model="store().datatypeId" class="umb-editor" ng-change="view().gridOverlay.setDatatype(store().datatypeId)" ng-options="p.id as p.name for p in view().gridOverlay.dataTypes"></select>
            </div>
        </div>
        <div ng-show="view().gridOverlay.dataTypes.length == 0" style="color:red;">
            <localize key="terratypeGridOverlay_mapDataTypeError">No maps have been created</localize>
        </div>
    </div>

    <div class="umb-el-wrap control-group" ng-show="store().datatypeId">
        <label for="terratype_{{identifier}}_grid_datatypes" class="control-label">
            <localize key="terratypeGridOverlay_locationLabel">Location:</localize>
            <small>
                <localize key="terratypeGridOverlay_locationDescription">Where would you like this map to point to</localize>
            </small>
        </label>
        <div class="controls">
            <div>
                <ng-include src="view().provider.events.files.views.editor.apperance">
                </ng-include>
            </div>
        </div>
    </div>

    <div ng-if="view().label.enable == true">
        <ng-include src="view().label.view">
        </ng-include>
    </div>    

</div>
