<div class="ng-cloak terratype" ng-controller="terratype.grid.overlay" ng-init="init()">

    <div class="umb-el-wrap control-group">
        <div ng-show="view().gridOverlay.dataTypes.length != 0">
            <label for="terratype_{{identifier}}_grid_datatypes" class="control-label">
                <localize key="terratypeGridOverlay_dataTypeLabel">Map:</localize>
                <small>
                    <localize key="terratypeGridOverlay_dataTypeDescription">Select which map you would like to use</localize>
                </small>
            </label>
            <div class="controls">
                <select id="terratype_{{identifier}}_grid_datatypes" ng-model="store().datatypeId" class="umb-editor" ng-change="view().gridOverlay.setDatatype(store().datatypeId)" ng-options="p.id as p.name for p in view().gridOverlay.dataTypes"></select>
            </div>
        </div>
        <div ng-show="view().gridOverlay.dataTypes.length == 0" style="color:red;">
            <localize key="terratypeGridOverlay_mapDataTypeError">No maps have been created</localize>
        </div>
    </div>

    <div class="umb-el-wrap control-group" ng-show="store().datatypeId">
        <label for="terratype_{{identifier}}_grid_datatypes" class="control-label">
            <localize key="terratypeGridOverlay_locationLabel">Location:</localize>
            <small>
                <localize key="terratypeGridOverlay_locationDescription">Where would you like this map to point to</localize>
            </small>
        </label>
        <div class="controls">
            <div>
                <ng-include src="view().provider.events.files.views.editor.apperance">
                </ng-include>
            </div>
        </div>
    </div>

    <div class="umb-el-wrap control-group" ng-show="store().datatypeId">
        <label for="terratype_{{identifier}}_grid_label" class="control-label">
            <localize key="terratypeGridOverlay_labelLabel">Label:</localize>
            <small>
                <localize key="terratypeGridOverlay_labelDescription">Text to display, in a bubble, when user selects this icon</localize>
            </small>
        </label>
        <div class="controls" style="border:1px solid #ccc;min-height:100px;">
            <div>
                <div grid-rte
                     configuration="view().gridOverlay.rte.config"
                     value="store().label"
                     unique-id="$scope.identifier + 'rte'"
                     on-link-picker-click="openLinkPicker"
                     on-media-picker-click="openMediaPicker"
                     on-embed-click="openEmbed"
                     on-macro-picker-click="openMacroPicker">
                </div>
                <umb-overlay ng-if="view().gridOverlay.rte.linkPickerOverlay.show"
                             model="view().gridOverlay.rte.linkPickerOverlay"
                             position="right"
                             view="view().gridOverlay.rte.linkPickerOverlay.view">
                </umb-overlay>
                <umb-overlay ng-if="view().gridOverlay.rte.mediaPickerOverlay.show"
                             model="view().gridOverlay.rte.mediaPickerOverlay"
                             position="right"
                             view="view().gridOverlay.rte.mediaPickerOverlay.view">
                </umb-overlay>
                <umb-overlay ng-if="view().gridOverlay.rte.embedOverlay.show"
                             model="view().gridOverlay.rte.embedOverlay"
                             position="right"
                             view="view().gridOverlay.rte.embedOverlay.view">
                </umb-overlay>
                <umb-overlay ng-if="view().gridOverlay.rte.macroPickerOverlay.show"
                             model="view().gridOverlay.rte.macroPickerOverlay"
                             view="view().gridOverlay.rte.macroPickerOverlay.view"
                             position="right">
                </umb-overlay>
            </div>
        </div>
    </div>
</div>
