<div class="ng-cloak terratype" ng-controller="terratype" ng-init="view().initConfig()" ng-show="!view().loading">
    <div class="umb-el-wrap control-group">
        <div ng-show="view().providers.length != 0">
            <label for="terratype_{{view().identifier}}_provider" class="control-label">
                <localize key="terratypeConfig_mapProviderLabel">Map Provider:</localize>
                <small>
                    <localize key="terratypeConfig_mapProviderDescription">Select which system you wish to use to display maps</localize>
                </small>
            </label>
            <div class="controls">
                <select id="terratype_{{view().identifier}}_provider" ng-model="config().provider.id" class="umb-editor" ng-change="view().setProvider(config().provider.id)" ng-options="p.id as p.name for p in view().providers"></select>
            </div>
        </div>
        <div ng-show="view().providers.length == 0" style="color:red;">
            <localize key="terratypeConfig_mapProviderError">No Terratype map providers have been installed</localize>
        </div>
    </div>
    <br />
    <fieldset ng-show="view().provider.id" style="padding-left:15px;">
        <a href="{{view().provider.referenceUrl}}" target="_blank">
            <legend ng-style="{'padding-left':'36px', 'background-image':'url(' + view().provider.events.files.logo + ')', 'background-size': 'auto 32px', 'background-repeat': 'no-repeat'}">
                {{view().provider.name}}
            </legend>
        </a>
        <p>{{view().provider.description}}</p>
        <br />
        <section>
            <h4 style="background-color:#dfdfdf;padding: 5px 0 5px 5px;margin-left:-5px;">
                <localize key="terratypeConfig_definitionHeading">Configure</localize>
            </h4>
            <div class="umb-el-wrap control-group">
                <label for="terratype_{{view().identifier}}_coordinatesystem" class="control-label">
                    <localize key="terratypeConfig_definitionCoordinateSystemLabel">Coordinate System:</localize>
                    <small>
                        <localize key="terratypeConfig_definitionCoordinateSystemDescription">Which Geodetic Coordinate System do you wish to use to present and store locations</localize>
                    </small>
                </label>
                <div class="controls" ng-show="config && view().provider.coordinateSystems && view().provider.coordinateSystems.length != 0">
                    <select id="terratype_{{view().identifier}}_coordinatesystem" ng-model="store().position.id" class="umb-editor" ng-change="view().setCoordinateSystem(store().position.id)" ng-disabled="!config().provider.id" ng-options="c.id as c.name for c in view().provider.coordinateSystems">
                    </select>
                    <div>
                        <small ng-show="store().position.id">
                            <a href="{{view().position.referenceUrl}}" target="_blank">
                                {{view().position.description}}
                            </a>
                        </small>
                    </div>
                </div>
            </div>
            <br />
            <ng-include src="view().provider.events.files.views.config.definition">
            </ng-include>
        </section>
        <section>
            <h4 style="background-color:#dfdfdf;padding: 5px 0 5px 5px;margin-left:-5px;">
                <localize key="terratypeConfig_searchHeading">Search</localize>
            </h4>
            <ng-include src="view().provider.events.files.views.config.search">
            </ng-include>
        </section>
        <section>
            <h4 style="background-color:#dfdfdf;padding: 5px 0 5px 5px;margin-left:-5px;">
                <localize key="terratypeConfig_apperanceHeading">Apperance</localize>
            </h4>
            <div class="umb-el-wrap control-group">
                <label for="terratype_{{view().identifier}}_height" class="control-label">
                    <localize key="terratypeConfig_apperanceHeightLabel">Height:</localize>
                    <small>
                        <localize key="terratypeConfig_apperanceHeightDescription">The height of the map as displayed to the content editor in pixels</localize>
                    </small>
                </label>
                <div class="controls">
                    <input type="number" id="terratype_{{view().identifier}}_height" ng-model="config().height" class="umb-editor" localize="placeholder" placeholder="@terratypeConfig_apperanceHeightPlaceholder" />
                </div>
            </div>
            <ng-include src="view().provider.events.files.views.config.apperance">
            </ng-include>
        </section>
        <section>
            <h4 style="background-color:#dfdfdf;padding: 5px 0 5px 5px;margin-left:-5px;">
                <localize key="terratypeConfig_iconHeading">Icon</localize>
            </h4>
            <div class="umb-el-wrap control-group">
                <label for="terratype_{{view().identifier}}_icon_id" class="control-label">
                    <localize key="terratypeConfig_iconPredefineLabel">Predefine:</localize>
                    <small>
                        <localize key="terratypeConfig_iconPredefineDescription">Select the Map marker image to display the selected location on the map, you can choose from a predefine list or your own custom attributes</localize>
                    </small>
                </label>
                <div class="controls">
                    <select id="terratype_{{view().identifier}}_icon_predefine" ng-model="config().icon.id" class="umb-editor" ng-change="view().iconPredefineChange(config().icon.id)" ng-options="p.id as p.name for p in view().icon.predefine">
                    </select>
                </div>
            </div>

            <div class="umb-el-wrap control-group">
                <label for="terratype_{{view().identifier}}_icon_url" class="control-label">
                    <localize key="terratypeConfig_iconUrlLabel">Image url:</localize>
                    <small>
                        <localize key="terratypeConfig_iconUrlDescription">Image location. If you include a protocol (http:// or https://), make sure it matches your website</localize>
                    </small>
                </label>
                <div class="controls">
                    <input type="text" id="terratype_{{view().identifier}}_icon_url" ng-model="config().icon.url" class="umb-editor umb-textstring textstring" ng-change="view().iconImageChange(config().icon.url)" localize="placeholder" placeholder="@terratypeConfig_iconUrlPlaceholder" spellcheck=false />
                    <div ng-show="view().icon.urlFailed && view().icon.urlFailed != ''">
                        <small style="color:red;">
                            <localize key="terratypeConfig_iconUrlError">Error:</localize> {{view().icon.urlFailed}}
                        </small>
                    </div>
                </div>
            </div>
            <div class="umb-el-wrap control-group">
                <label for="terratype_{{view().identifier}}_icon_width" class="control-label">
                    <localize key="terratypeConfig_iconWidthLabel">Width:</localize>
                    <small>
                        <localize key="terratypeConfig_iconWidthDescription">Width of the image in pixels</localize>
                    </small>
                </label>
                <div class="controls">
                    <input type="number" id="terratype_{{view().identifier}}_icon_width" ng-model="config().icon.size.width" class="umb-editor" ng-change="view().iconCustom()" localize="placeholder" placeholder="@terratypeConfig_iconWidthPlaceholder" />
                </div>
            </div>
            <div class="umb-el-wrap control-group">
                <label for="terratype_{{view().identifier}}_icon_height" class="control-label">
                    <localize key="terratypeConfig_iconHeightLabel">Height:</localize>
                    <small>
                        <localize key="terratypeConfig_iconHeightDescription">Height of the image in pixels</localize>
                    </small>
                </label>
                <div class="controls">
                    <input type="number" id="terratype_{{view().identifier}}_icon_height" ng-model="config().icon.size.height" class="umb-editor" ng-change="view().iconCustom()" localize="placeholder" placeholder="@terratypeConfig_iconHeightPlaceholder" />
                </div>
            </div>
            <div class="umb-el-wrap control-group">
                <label for="terratype_{{view().identifier}}_icon_anchor_horizontal" class="control-label">
                    <localize key="terratypeConfig_iconHorizontalAnchorLabel">Horizontal Anchor:</localize>
                    <small>
                        <localize key="terratypeConfig_iconHorizontalAnchorDescription">Focal point of the icon. Ether enter a custom value in pixels from the left hand edge or choose from a predefine list</localize>
                    </small>
                </label>
                <div class="controls">
                    <input type="radio" name="terratype_{{view().identifier}}_icon_anchor_horizontal" ng-model="view().icon.anchor.horizontal.isManual" ng-value="true" localize="title" title="@terratypeConfig_iconHorizontalAnchorManualPlaceholder" ng-change="config().icon.anchor.horizontal = view().icon.anchor.horizontal.manual; view().iconCustom()" />
                    <input type="number" ng-model="view().icon.anchor.horizontal.manual" class="umb-editor" ng-disabled="view().icon.anchor.horizontal.isManual == false" localize="placeholder" placeholder="@terratypeConfig_iconHorizontalAnchorManualPlaceholder" ng-change="config().icon.anchor.horizontal = view().icon.anchor.horizontal.manual; view().iconCustom()" />
                </div>
                <div class="controls" style="margin-top:3px;">
                    <input type="radio" name="terratype_{{view().identifier}}_icon_anchor_horizontal" ng-model="view().icon.anchor.horizontal.isManual" ng-value="false" localize="title" title="@terratypeConfig_iconHorizontalAnchorAutomaticPlaceholder" ng-change="config().icon.anchor.horizontal = view().icon.anchor.horizontal.automatic; view().iconCustom()" />
                    <select ng-model="view().icon.anchor.horizontal.automatic" class="umb-editor" ng-disabled="view().icon.anchor.horizontal.isManual == true" ng-change="config().icon.anchor.horizontal = view().icon.anchor.horizontal.automatic; view().iconCustom()">
                        <option value="left" terratype-translate="@terratypeConfig_iconHorizontalAnchorLeft"></option>
                        <option value="center" terratype-translate="@terratypeConfig_iconHorizontalAnchorCenter"></option>
                        <option value="right" terratype-translate="@terratypeConfig_iconHorizontalAnchorRight"></option>
                    </select>
                </div>
                <div ng-show="view().icon.anchor.horizontal.isManual && view().icon.anchor.horizontal.manual >= config().icon.size.width">
                    <small style="color:red;">
                        <localize key="terratypeConfig_iconHorizontalAnchorError">Your focal point is now located outside the boundary of the image</localize>
                    </small>
                </div>
            </div>

            <div class="umb-el-wrap control-group">
                <label for="terratype_{{view().identifier}}_icon_anchor_vertical" class="control-label">
                    <localize key="terratypeConfig_iconVerticalAnchorLabel">Vertical Anchor:</localize>
                    <small>
                        <localize key="terratypeConfig_iconVerticalAnchorDescription">Focal point of the icon. Ether enter a custom value in pixels from the top edge or choose from a predefine list</localize>
                    </small>
                </label>
                <div class="controls">
                    <input type="radio" name="terratype_{{view().identifier}}_icon_anchor_vertical" ng-model="view().icon.anchor.vertical.isManual" ng-value="true" localize="title" title="@terratypeConfig_iconVerticalAnchorManualPlaceholder" ng-change="config().icon.anchor.vertical = view().icon.anchor.vertical.manual; view().iconCustom()" />
                    <input type="number" ng-model="view().icon.anchor.vertical.manual" class="umb-editor" ng-disabled="view().icon.anchor.vertical.isManual == false" localize="placeholder" placeholder="@terratypeConfig_iconVerticalAnchorManualPlaceholder" ng-change="store().icon.anchor.vertical = view().icon.anchor.vertical.manual; view().iconCustom()" />
                </div>
                <div class="controls" style="margin-top:3px;">
                    <input type="radio" name="terratype_{{view().identifier}}_icon_anchor_vertical" ng-model="view().icon.anchor.vertical.isManual" ng-value="false" localize="title" title="@iconVerticalAnchorAutomaticPlaceholder" ng-change="config().icon.anchor.vertical = view().icon.anchor.vertical.automatic; view().iconCustom()" />
                    <select ng-model="view().icon.anchor.vertical.automatic" class="umb-editor" ng-disabled="view().icon.anchor.vertical.isManual == true" ng-change="config().icon.anchor.vertical = view().icon.anchor.vertical.automatic; view().iconCustom()">
                        <option value="top" terratype-translate="@terratypeConfig_iconVerticalAnchorTop"></option>
                        <option value="center" terratype-translate="@terratypeConfig_iconVerticalAnchorCenter"></option>
                        <option value="bottom" terratype-translate="@terratypeConfig_iconVerticalAnchorBottom"></option>
                    </select>
                </div>
                <div ng-show="view().icon.anchor.vertical.isManual && view().icon.anchor.vertical.manual >= config().icon.size.height">
                    <small style="color:red;">
                        <localize key="terratypeConfig_iconVerticalAnchorError">Your focal point is now located outside the boundary of the image</localize>
                    </small>
                </div>
            </div>

            <!--    Disable example map
            <div class="umb-el-wrap control-group" ng-show="config().icon.url && config().icon.size.width && config().icon.size.height">
                <div ng-style="{'background-image':'url(' + view().provider.events.files.mapExample + ')', 'padding-top':'10px 0 10px 25px;'}">
                    <div style="padding:35px;">
                        <img ng-src="{{view().absoluteUrl(config().icon.url)}}" ng-style="{'width': config().icon.size.width + 'px', 'height': config().icon.size.height + 'px'}" />
                    </div>
                </div>
            </div>
            -->

        </section>
        <section>
            <h4 style="background-color:#dfdfdf;padding: 5px 0 5px 5px;margin-left:-5px;">
                <localize key="terratypeConfig_debugHeading">Debugger</localize>
            </h4>
            <div class="umb-el-wrap control-group">
                <label for="terratype_{{view().identifier}}_debug" class="control-label">
                    <localize key="terratypeConfig_debugJsonLabel">Show Json:</localize>
                    <small>
                        <localize key="terratypeConfig_debugJsonDescription">Do you want to show the map or a json editor</localize>
                    </small>
                </label>
                <div class="controls">
                    <select id="terratype_{{view().identifier}}_debug" ng-model="config().debug" class="umb-editor">
                        <option value="0" terratype-translate="@terratypeConfig_debugJsonDisable"></option>
                        <option value="1" terratype-translate="@terratypeConfig_debugJsonEnable"></option>
                        <option value="2" terratype-translate="@terratypeConfig_debugJsonBoth"></option>
                    </select>
                </div>
            </div>
            <div ng-show="config().debug != 0">
                <textarea style="height:300px;width:100%;margin-top:20px;background-color:khaki;color:black;" spellcheck=false ng-model="model.value" terratype-json></textarea>
                <div style="text-align:center;background-color:khaki;color:darkred;">
                    <small>
                        <localize key="terratypeConfig_debugJsonLiveDescription">Warning</localize>
                    </small>
                </div>
            </div>
        </section>
    </fieldset>
</div>
