@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Mappy2>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Terratype
@{
	Layout = null;
}

<h1>
    @Model.Content.Name - Combined maps with options
</h1>


<div id="pretend-accordion3" style="display:@(Request.QueryString["show3"] !=null ? "display":"none" );">

    @Html.Terratype(new Options
    {
        Provider = new Terratype.Providers.GoogleMapsV3()
        {
            Variety = new Terratype.Providers.GoogleMapsV3.VarietyDefinition()
            {
                Satellite = true
            }
        },
        Height = 1000,
        MapSetId = 1,
        Zoom = 5,
        Position = new Terratype.CoordinateSystems.Wgs84("-30,130")
    })

    @foreach (var record in Model.Content.Nested)
    {
        var name = record.GetPropertyValue<string>("mapName");
        var map = record.GetPropertyValue<Terratype.Models.Model>("map");

        @Html.Terratype(new Options {
			MapSetId = 1
		}, map,
            @<text>
                @name is at @map.Position
            </text>
        )
    }
</div>


<button onclick="var a = document.getElementById('pretend-accordion3');a.style.display = (a.style.display=='none') ? 'block':'none'">Show/Hide Map</button>
