@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<Terratype.TestSite.Schema.Mappy>
@using Terratype
@{
	Layout = null;
}


<fieldset>
    <legend>
        Map 1
    </legend>

    <dl>
        <dt>
            Zoom
        </dt>
        <dd>
            @Model.Content.Bing.Zoom
        </dd>

        <dt>
            Lookup
        </dt>
        <dd>
            @Model.Content.Bing.Lookup
        </dd>

        <dt>
            Position
        </dt>
        <dd>
            @Model.Content.Bing.Position
        </dd>
    </dl>

</fieldset>

<div>
	@Html.Terratype(Model.Content.Bing)
</div>