<div ng-disabled="vm().provider.status.loading">
    <div class="umb-el-wrap control-group">
        <label for="terratype_{{identifier}}_bingmapsv8_version" class="control-label">
            <localize key="terratypeBingMapsV8ConfigDefinition_versionLabel">Version:</localize>
            <small>
                <localize key="terratypeBingMapsV8ConfigDefinition_versionDescription">Which release</localize>
            </small>
        </label>
        <div class="controls">
            <select id="terratype_{{identifier}}_bingmapsv8_version" ng-model="config().provider.version" class="umb-editor" ng-change="vm().provider.events.versionChange()">
                <option value="experimental" terratype-translate="@terratypeBingMapsV8ConfigDefinition_versionExperimental"></option>
                <option value="release" terratype-translate="@terratypeBingMapsV8ConfigDefinition_versionRelease"></option>
                <option value="frozen" terratype-translate="@terratypeBingMapsV8ConfigDefinition_versionFrozen"></option>
            </select>
            <div ng-show="vm().provider.version">
                <small terratype-translate="terratypeBingMapsV8ConfigDefinition_versionLoaded">
                </small>
            </div>
        </div>
    </div>
    <div class="umb-el-wrap control-group">
        <label for="terratype_{{identifier}}_bingmapsv8_apikey" class="control-label">
            <localize key="terratypeBingMapsV8ConfigDefinition_apiKeyLabel">Bing API Key:</localize>
            <small>
                <localize key="terratypeBingMapsV8ConfigDefinition_apiKeyDescription">Your Bing API Key</localize>
            </small>
        </label>
        <div class="controls">
            <input id="terratype_{{identifier}}_bingmapsv8_apikey" type="text" ng-model="config().provider.apiKey" class="umb-editor umb-textstring textstring" localize="placeholder" placeholder="@terratypeBingMapsV8ConfigDefinition__apiKeyPlaceholder" spellcheck=false ng-change="vm().status.reload = true" />
            <div>
                <div>
                    <a href="https://msdn.microsoft.com/en-us/library/gg650598.aspx" target="_blank" style="font-size:smaller;">
                        <localize key="terratypeBingMapsV8ConfigDefinition_apiKeyGet">[Get a key]</localize>
                    </a>
                </div>
                <div>
                    <div ng-show="vm().status.loading">
                        <img ng-src="{{terratype.images.loading}}" />
                    </div>
                    <div ng-show="vm().status.failed">
                        <img ng-src="{{terratype.images.failed}}" />
                        <span style="color:red;padding-right:10px;"><localize key="terratypeBingMapsV8ConfigDefinition_apiKeyInvalid">Invalid API Key</localize></span>
                    </div>
                    <div ng-show="vm().status.success">
                        <img ng-src="{{terratype.images.success}}" />
                        <span style="color:green;"><localize key="terratypeBingMapsV8ConfigDefinition_apiKeyValid">API Key is valid</localize></span>
                    </div>
                    <div ng-show="vm().status.reload">
                        <button type="button" ng-click="vm().provider.events.reload()" localize="title" title="@terratypeBingMapsV8ConfigDefinition_retryTitle"><localize key="terratypeBingMapsV8ConfigDefinition_retryLabel">Retry</localize></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="umb-el-wrap control-group">
        <label for="terratype_{{identifier}}_bingmapsv8_forcehttps" class="control-label">
            <localize key="terratypeBingMapsV8ConfigDefinition_httpsLabel">Force Https:</localize>
            <small>
                <localize key="terratypeBingMapsV8ConfigDefinition_httpsDescription">Force all Bing Map requests to use HTTPS protocol, even if the Umbraco instance is running on HTTP. Only relevant when Umbraco is running on HTTP</localize>
            </small>
        </label>
        <div class="controls">
            <input id="terratype_{{identifier}}_bingmapsv8_forcehttps" type="checkbox" ng-model="config().provider.forceHttps" ng-change="vm().provider.events.forceHttpsChange()" />
        </div>
    </div>
    <div class="umb-el-wrap control-group">
        <label for="terratype_{{identifier}}_bingmapsv8_language" class="control-label">
            <localize key="terratypeBingMapsV8ConfigDefinition_languageLabel">Language:</localize>
            <small>
                <localize key="terratypeBingMapsV8ConfigDefinition_languageDescription">Primary language used to display places</localize>
            </small>
        </label>
        <div class="controls">
            <select id="terratype_{{identifier}}_bingmapsv8_language" ng-model="config().provider.language" class="umb-editor" ng-change="vm().provider.events.languageChange()">
                <option value=""><localize key="terratypeBingMapsV8ConfigDefinition_languageUseDefault">[Use Umbraco]</localize></option>
                <option value="ab"><localize key="terratypeBingMapsV8ConfigDefinition_languageAB">Abkhaz (аҧсуа бызшәа, аҧсшәа)</localize></option>
                <option value="aa"><localize key="terratypeBingMapsV8ConfigDefinition_languageAA">Afar (Afaraf)</localize></option>
                <option value="af"><localize key="terratypeBingMapsV8ConfigDefinition_languageAF">Afrikaans (Afrikaans)</localize></option>
                <option value="ak"><localize key="terratypeBingMapsV8ConfigDefinition_languageAK">Akan (Akan)</localize></option>
                <option value="sq"><localize key="terratypeBingMapsV8ConfigDefinition_languageSQ">Albanian (Shqip)</localize></option>
                <option value="am"><localize key="terratypeBingMapsV8ConfigDefinition_languageAM">Amharic (አማርኛ)</localize></option>
                <option value="ar"><localize key="terratypeBingMapsV8ConfigDefinition_languageAR">Arabic (العربية)</localize></option>
                <option value="an"><localize key="terratypeBingMapsV8ConfigDefinition_languageAN">Aragonese (aragonés)</localize></option>
                <option value="hy"><localize key="terratypeBingMapsV8ConfigDefinition_languageHY">Armenian (Հայերեն)</localize></option>
                <option value="as"><localize key="terratypeBingMapsV8ConfigDefinition_languageAS">Assamese (অসমীয়া)</localize></option>
                <option value="av"><localize key="terratypeBingMapsV8ConfigDefinition_languageAV">Avaric (авар мацӀ, магӀарул мацӀ)</localize></option>
                <option value="ae"><localize key="terratypeBingMapsV8ConfigDefinition_languageAE">Avestan (avesta)</localize></option>
                <option value="ay"><localize key="terratypeBingMapsV8ConfigDefinition_languageAY">Aymara (aymar aru)</localize></option>
                <option value="az"><localize key="terratypeBingMapsV8ConfigDefinition_languageAZ">Azerbaijani (azərbaycan dili)</localize></option>
                <option value="bm"><localize key="terratypeBingMapsV8ConfigDefinition_languageBM">Bambara (bamanankan)</localize></option>
                <option value="ba"><localize key="terratypeBingMapsV8ConfigDefinition_languageBA">Bashkir (башҡорт теле)</localize></option>
                <option value="eu"><localize key="terratypeBingMapsV8ConfigDefinition_languageEU">Basque (euskara, euskera)</localize></option>
                <option value="be"><localize key="terratypeBingMapsV8ConfigDefinition_languageBE">Belarusian (беларуская мова)</localize></option>
                <option value="bn"><localize key="terratypeBingMapsV8ConfigDefinition_languageBN">Bengali (বাংলা)</localize></option>
                <option value="bh"><localize key="terratypeBingMapsV8ConfigDefinition_languageBH">Bihari (भोजपुरी)</localize></option>
                <option value="bi"><localize key="terratypeBingMapsV8ConfigDefinition_languageBI">Bislama (Bislama)</localize></option>
                <option value="bs"><localize key="terratypeBingMapsV8ConfigDefinition_languageBS">Bosnian (bosanski jezik)</localize></option>
                <option value="br"><localize key="terratypeBingMapsV8ConfigDefinition_languageBR">Breton (brezhoneg)</localize></option>
                <option value="bg"><localize key="terratypeBingMapsV8ConfigDefinition_languageBG">Bulgarian (български език)</localize></option>
                <option value="my"><localize key="terratypeBingMapsV8ConfigDefinition_languageMY">Burmese (ဗမာစာ)</localize></option>
                <option value="ca"><localize key="terratypeBingMapsV8ConfigDefinition_languageCA">Catalan (català)</localize></option>
                <option value="ch"><localize key="terratypeBingMapsV8ConfigDefinition_languageCH">Chamorro (Chamoru)</localize></option>
                <option value="ce"><localize key="terratypeBingMapsV8ConfigDefinition_languageCE">Chechen (нохчийн мотт)</localize></option>
                <option value="ny"><localize key="terratypeBingMapsV8ConfigDefinition_languageNY">Chichewa (chiCheŵa, chinyanja)</localize></option>
                <option value="zh"><localize key="terratypeBingMapsV8ConfigDefinition_languageZH">Chinese (中文, 汉语, 漢語)</localize></option>
                <option value="cv"><localize key="terratypeBingMapsV8ConfigDefinition_languageCV">Chuvash (чӑваш чӗлхи)</localize></option>
                <option value="kw"><localize key="terratypeBingMapsV8ConfigDefinition_languageKW">Cornish (Kernewek)</localize></option>
                <option value="co"><localize key="terratypeBingMapsV8ConfigDefinition_languageCO">Corsican (corsu, lingua corsa)</localize></option>
                <option value="cr"><localize key="terratypeBingMapsV8ConfigDefinition_languageCR">Cree (ᓀᐦᐃᔭᐍᐏᐣ)</localize></option>
                <option value="hr"><localize key="terratypeBingMapsV8ConfigDefinition_languageHR">Croatian (hrvatski jezik)</localize></option>
                <option value="cs"><localize key="terratypeBingMapsV8ConfigDefinition_languageCS">Czech (čeština, český jazyk)</localize></option>
                <option value="da"><localize key="terratypeBingMapsV8ConfigDefinition_languageDA">Danish (dansk)</localize></option>
                <option value="dv"><localize key="terratypeBingMapsV8ConfigDefinition_languageDV">Divehi (ދިވެހި)</localize></option>
                <option value="nl"><localize key="terratypeBingMapsV8ConfigDefinition_languageNL">Dutch (Nederlands, Vlaams)</localize></option>
                <option value="dz"><localize key="terratypeBingMapsV8ConfigDefinition_languageDZ">Dzongkha (རྫོང་ཁ)</localize></option>
                <option value="pa"><localize key="terratypeBingMapsV8ConfigDefinition_languagePA">Eastern Punjabi (ਪੰਜਾਬੀ)</localize></option>
                <option value="en"><localize key="terratypeBingMapsV8ConfigDefinition_languageEN">English (English)</localize></option>
                <option value="eo"><localize key="terratypeBingMapsV8ConfigDefinition_languageEO">Esperanto (Esperanto)</localize></option>
                <option value="et"><localize key="terratypeBingMapsV8ConfigDefinition_languageET">Estonian (eesti, eesti keel)</localize></option>
                <option value="ee"><localize key="terratypeBingMapsV8ConfigDefinition_languageEE">Ewe (Eʋegbe)</localize></option>
                <option value="fo"><localize key="terratypeBingMapsV8ConfigDefinition_languageFO">Faroese (føroyskt)</localize></option>
                <option value="fj"><localize key="terratypeBingMapsV8ConfigDefinition_languageFJ">Fijian (vosa Vakaviti)</localize></option>
                <option value="fi"><localize key="terratypeBingMapsV8ConfigDefinition_languageFI">Finnish (suomi, suomen kieli)</localize></option>
                <option value="fr"><localize key="terratypeBingMapsV8ConfigDefinition_languageFR">French (français)</localize></option>
                <option value="ff"><localize key="terratypeBingMapsV8ConfigDefinition_languageFF">Fula (Fulfulde, Pulaar, Pular)</localize></option>
                <option value="gl"><localize key="terratypeBingMapsV8ConfigDefinition_languageGL">Galician (galego)</localize></option>
                <option value="lg"><localize key="terratypeBingMapsV8ConfigDefinition_languageLG">Ganda (Luganda)</localize></option>
                <option value="ka"><localize key="terratypeBingMapsV8ConfigDefinition_languageKA">Georgian (ქართული)</localize></option>
                <option value="de"><localize key="terratypeBingMapsV8ConfigDefinition_languageDE">German (Deutsch)</localize></option>
                <option value="el"><localize key="terratypeBingMapsV8ConfigDefinition_languageEL">Greek (ελληνικά)</localize></option>
                <option value="gn"><localize key="terratypeBingMapsV8ConfigDefinition_languageGN">Guaraní (Avañe'ẽ)</localize></option>
                <option value="gu"><localize key="terratypeBingMapsV8ConfigDefinition_languageGU">Gujarati (ગુજરાતી)</localize></option>
                <option value="ht"><localize key="terratypeBingMapsV8ConfigDefinition_languageHT">Haitian (Kreyòl ayisyen)</localize></option>
                <option value="ha"><localize key="terratypeBingMapsV8ConfigDefinition_languageHA">Hausa ((Hausa) هَوُسَ)</localize></option>
                <option value="he"><localize key="terratypeBingMapsV8ConfigDefinition_languageHE">Hebrew (עברית)</localize></option>
                <option value="hz"><localize key="terratypeBingMapsV8ConfigDefinition_languageHZ">Herero (Otjiherero)</localize></option>
                <option value="hi"><localize key="terratypeBingMapsV8ConfigDefinition_languageHI">Hindi (हिन्दी, हिंदी)</localize></option>
                <option value="ho"><localize key="terratypeBingMapsV8ConfigDefinition_languageHO">Hiri Motu (Hiri Motu)</localize></option>
                <option value="hu"><localize key="terratypeBingMapsV8ConfigDefinition_languageHU">Hungarian (magyar)</localize></option>
                <option value="is"><localize key="terratypeBingMapsV8ConfigDefinition_languageIS">Icelandic (Íslenska)</localize></option>
                <option value="io"><localize key="terratypeBingMapsV8ConfigDefinition_languageIO">Ido (Ido)</localize></option>
                <option value="ig"><localize key="terratypeBingMapsV8ConfigDefinition_languageIG">Igbo (Asụsụ Igbo)</localize></option>
                <option value="id"><localize key="terratypeBingMapsV8ConfigDefinition_languageID">Indonesian (Bahasa Indonesia)</localize></option>
                <option value="ia"><localize key="terratypeBingMapsV8ConfigDefinition_languageIA">Interlingua (Interlingua)</localize></option>
                <option value="ie"><localize key="terratypeBingMapsV8ConfigDefinition_languageIE">Interlingue (Interlingue)</localize></option>
                <option value="iu"><localize key="terratypeBingMapsV8ConfigDefinition_languageIU">Inuktitut (ᐃᓄᒃᑎᑐᑦ)</localize></option>
                <option value="ik"><localize key="terratypeBingMapsV8ConfigDefinition_languageIK">Inupiaq (Iñupiaq, Iñupiatun)</localize></option>
                <option value="ga"><localize key="terratypeBingMapsV8ConfigDefinition_languageGA">Irish (Gaeilge)</localize></option>
                <option value="it"><localize key="terratypeBingMapsV8ConfigDefinition_languageIT">Italian (Italiano)</localize></option>
                <option value="ja"><localize key="terratypeBingMapsV8ConfigDefinition_languageJA">Japanese (日本語 (にほんご))</localize></option>
                <option value="jv"><localize key="terratypeBingMapsV8ConfigDefinition_languageJV">Javanese (ꦧꦱꦗꦮ)</localize></option>
                <option value="kl"><localize key="terratypeBingMapsV8ConfigDefinition_languageKL">Kalaallisut (kalaallisut, kalaallit oqaasii)</localize></option>
                <option value="kn"><localize key="terratypeBingMapsV8ConfigDefinition_languageKN">Kannada (ಕನ್ನಡ)</localize></option>
                <option value="kr"><localize key="terratypeBingMapsV8ConfigDefinition_languageKR">Kanuri (Kanuri)</localize></option>
                <option value="ks"><localize key="terratypeBingMapsV8ConfigDefinition_languageKS">Kashmiri (कश्मीरी, كشميري‎)</localize></option>
                <option value="kk"><localize key="terratypeBingMapsV8ConfigDefinition_languageKK">Kazakh (қазақ тілі)</localize></option>
                <option value="km"><localize key="terratypeBingMapsV8ConfigDefinition_languageKM">Khmer (ខ្មែរ, ខេមរភាសា, ភាសាខ្មែរ)</localize></option>
                <option value="ki"><localize key="terratypeBingMapsV8ConfigDefinition_languageKI">Kikuyu (Gĩkũyũ)</localize></option>
                <option value="rw"><localize key="terratypeBingMapsV8ConfigDefinition_languageRW">Kinyarwanda (Ikinyarwanda)</localize></option>
                <option value="rn"><localize key="terratypeBingMapsV8ConfigDefinition_languageRN">Kirundi (Ikirundi)</localize></option>
                <option value="kv"><localize key="terratypeBingMapsV8ConfigDefinition_languageKV">Komi (коми кыв)</localize></option>
                <option value="kg"><localize key="terratypeBingMapsV8ConfigDefinition_languageKG">Kongo (Kikongo)</localize></option>
                <option value="ko"><localize key="terratypeBingMapsV8ConfigDefinition_languageKO">Korean (한국어)</localize></option>
                <option value="ku"><localize key="terratypeBingMapsV8ConfigDefinition_languageKU">Kurdish (Kurdî, كوردی‎)</localize></option>
                <option value="kj"><localize key="terratypeBingMapsV8ConfigDefinition_languageKJ">Kwanyama (Kuanyama)</localize></option>
                <option value="ky"><localize key="terratypeBingMapsV8ConfigDefinition_languageKY">Kyrgyz (Кыргызча, Кыргыз тили)</localize></option>
                <option value="lo"><localize key="terratypeBingMapsV8ConfigDefinition_languageLO">Lao (ພາສາລາວ)</localize></option>
                <option value="la"><localize key="terratypeBingMapsV8ConfigDefinition_languageLA">Latin (latine)</localize></option>
                <option value="lv"><localize key="terratypeBingMapsV8ConfigDefinition_languageLV">Latvian (latviešu valoda)</localize></option>
                <option value="li"><localize key="terratypeBingMapsV8ConfigDefinition_languageLI">Limburgish (Limburgs)</localize></option>
                <option value="ln"><localize key="terratypeBingMapsV8ConfigDefinition_languageLN">Lingala (Lingála)</localize></option>
                <option value="lt"><localize key="terratypeBingMapsV8ConfigDefinition_languageLT">Lithuanian (lietuvių kalba)</localize></option>
                <option value="lu"><localize key="terratypeBingMapsV8ConfigDefinition_languageLU">Luba-Katanga (Tshiluba)</localize></option>
                <option value="lb"><localize key="terratypeBingMapsV8ConfigDefinition_languageLB">Luxembourgish (Lëtzebuergesch)</localize></option>
                <option value="mk"><localize key="terratypeBingMapsV8ConfigDefinition_languageMK">Macedonian (македонски јазик)</localize></option>
                <option value="mg"><localize key="terratypeBingMapsV8ConfigDefinition_languageMG">Malagasy (fiteny malagasy)</localize></option>
                <option value="ms"><localize key="terratypeBingMapsV8ConfigDefinition_languageMS">Malay ( بهاس ملايو‎)</localize></option>
                <option value="ml"><localize key="terratypeBingMapsV8ConfigDefinition_languageML">Malayalam (മലയാളം)</localize></option>
                <option value="mt"><localize key="terratypeBingMapsV8ConfigDefinition_languageMT">Maltese (Malti)</localize></option>
                <option value="gv"><localize key="terratypeBingMapsV8ConfigDefinition_languageGV">Manx (Gaelg, Gailck)</localize></option>
                <option value="mr"><localize key="terratypeBingMapsV8ConfigDefinition_languageMR">Marathi (Marāṭhī) (मराठी)</localize></option>
                <option value="mh"><localize key="terratypeBingMapsV8ConfigDefinition_languageMH">Marshallese (Kajin M̧ajeļ)</localize></option>
                <option value="mn"><localize key="terratypeBingMapsV8ConfigDefinition_languageMN">Mongolian (Монгол хэл)</localize></option>
                <option value="mi"><localize key="terratypeBingMapsV8ConfigDefinition_languageMI">Māori (te reo Māori)</localize></option>
                <option value="na"><localize key="terratypeBingMapsV8ConfigDefinition_languageNA">Nauruan (Dorerin Naoero)</localize></option>
                <option value="nv"><localize key="terratypeBingMapsV8ConfigDefinition_languageNV">Navajo (Diné bizaad)</localize></option>
                <option value="ng"><localize key="terratypeBingMapsV8ConfigDefinition_languageNG">Ndonga (Owambo)</localize></option>
                <option value="ne"><localize key="terratypeBingMapsV8ConfigDefinition_languageNE">Nepali (नेपाली)</localize></option>
                <option value="nd"><localize key="terratypeBingMapsV8ConfigDefinition_languageND">Northern Ndebele (isiNdebele)</localize></option>
                <option value="se"><localize key="terratypeBingMapsV8ConfigDefinition_languageSE">Northern Sami (Davvisámegiella)</localize></option>
                <option value="no"><localize key="terratypeBingMapsV8ConfigDefinition_languageNO">Norwegian (Norsk)</localize></option>
                <option value="nb"><localize key="terratypeBingMapsV8ConfigDefinition_languageNB">Norwegian Bokmål (Norsk bokmål)</localize></option>
                <option value="nn"><localize key="terratypeBingMapsV8ConfigDefinition_languageNN">Norwegian Nynorsk (Norsk nynorsk)</localize></option>
                <option value="ii"><localize key="terratypeBingMapsV8ConfigDefinition_languageII">Nuosu (ꆈꌠ꒿)</localize></option>
                <option value="oc"><localize key="terratypeBingMapsV8ConfigDefinition_languageOC">Occitan (occitan, lenga d'òc)</localize></option>
                <option value="oj"><localize key="terratypeBingMapsV8ConfigDefinition_languageOJ">Ojibwe (ᐊᓂᔑᓈᐯᒧᐎᓐ)</localize></option>
                <option value="cu"><localize key="terratypeBingMapsV8ConfigDefinition_languageCU">Old Bulgarian (ѩзыкъ словѣньскъ)</localize></option>
                <option value="or"><localize key="terratypeBingMapsV8ConfigDefinition_languageOR">Oriya (ଓଡ଼ିଆ)</localize></option>
                <option value="om"><localize key="terratypeBingMapsV8ConfigDefinition_languageOM">Oromo (Afaan Oromoo)</localize></option>
                <option value="os"><localize key="terratypeBingMapsV8ConfigDefinition_languageOS">Ossetian (ирон æвзаг)</localize></option>
                <option value="ps"><localize key="terratypeBingMapsV8ConfigDefinition_languagePS">Pashto (پښتو)</localize></option>
                <option value="fa"><localize key="terratypeBingMapsV8ConfigDefinition_languageFA">Farsi (فارسی)</localize></option>
                <option value="pl"><localize key="terratypeBingMapsV8ConfigDefinition_languagePL">Polish (język polski, polszczyzna)</localize></option>
                <option value="pt"><localize key="terratypeBingMapsV8ConfigDefinition_languagePT">Portuguese (Português)</localize></option>
                <option value="pi"><localize key="terratypeBingMapsV8ConfigDefinition_languagePI">Pāli (पाऴि)</localize></option>
                <option value="qu"><localize key="terratypeBingMapsV8ConfigDefinition_languageQU">Quechua (Runa Simi, Kichwa)</localize></option>
                <option value="ro"><localize key="terratypeBingMapsV8ConfigDefinition_languageRO">Romanian (Română)</localize></option>
                <option value="rm"><localize key="terratypeBingMapsV8ConfigDefinition_languageRM">Romansh (rumantsch grischun)</localize></option>
                <option value="ru"><localize key="terratypeBingMapsV8ConfigDefinition_languageRU">Russian (Русский)</localize></option>
                <option value="sm"><localize key="terratypeBingMapsV8ConfigDefinition_languageSM">Samoan (gagana fa'a Samoa)</localize></option>
                <option value="sg"><localize key="terratypeBingMapsV8ConfigDefinition_languageSG">Sango (yângâ tî sängö)</localize></option>
                <option value="sa"><localize key="terratypeBingMapsV8ConfigDefinition_languageSA">Sanskrit (संस्कृतम्)</localize></option>
                <option value="sc"><localize key="terratypeBingMapsV8ConfigDefinition_languageSC">Sardinian (sardu)</localize></option>
                <option value="gd"><localize key="terratypeBingMapsV8ConfigDefinition_languageGD">Scottish Gaelic (Gàidhlig)</localize></option>
                <option value="sr"><localize key="terratypeBingMapsV8ConfigDefinition_languageSR">Serbian (српски језик)</localize></option>
                <option value="sn"><localize key="terratypeBingMapsV8ConfigDefinition_languageSN">Shona (chiShona)</localize></option>
                <option value="sd"><localize key="terratypeBingMapsV8ConfigDefinition_languageSD">Sindhi (सिन्धी, سنڌي، سندھی‎)</localize></option>
                <option value="si"><localize key="terratypeBingMapsV8ConfigDefinition_languageSI">Sinhalese (සිංහල)</localize></option>
                <option value="sk"><localize key="terratypeBingMapsV8ConfigDefinition_languageSK">Slovak (slovenčina, slovenský jazyk)</localize></option>
                <option value="sl"><localize key="terratypeBingMapsV8ConfigDefinition_languageSL">Slovene (slovenski jezik, slovenščina)</localize></option>
                <option value="so"><localize key="terratypeBingMapsV8ConfigDefinition_languageSO">Somali (Soomaaliga, af Soomaali)</localize></option>
                <option value="nr"><localize key="terratypeBingMapsV8ConfigDefinition_languageNR">Southern Ndebele (isiNdebele)</localize></option>
                <option value="st"><localize key="terratypeBingMapsV8ConfigDefinition_languageST">Southern Sotho (Sesotho)</localize></option>
                <option value="es"><localize key="terratypeBingMapsV8ConfigDefinition_languageES">Spanish (Español)</localize></option>
                <option value="su"><localize key="terratypeBingMapsV8ConfigDefinition_languageSU">Sundanese (Basa Sunda)</localize></option>
                <option value="sw"><localize key="terratypeBingMapsV8ConfigDefinition_languageSW">Swahili (Kiswahili)</localize></option>
                <option value="ss"><localize key="terratypeBingMapsV8ConfigDefinition_languageSS">Swati (SiSwati)</localize></option>
                <option value="sv"><localize key="terratypeBingMapsV8ConfigDefinition_languageSV">Swedish (svenska)</localize></option>
                <option value="tl"><localize key="terratypeBingMapsV8ConfigDefinition_languageTL">Tagalog (Wikang Tagalog)</localize></option>
                <option value="ty"><localize key="terratypeBingMapsV8ConfigDefinition_languageTY">Tahitian (Reo Tahiti)</localize></option>
                <option value="tg"><localize key="terratypeBingMapsV8ConfigDefinition_languageTG">Tajik (тоҷикӣ, toçikī, تاجیکی‎)</localize></option>
                <option value="ta"><localize key="terratypeBingMapsV8ConfigDefinition_languageTA">Tamil (தமிழ்)</localize></option>
                <option value="tt"><localize key="terratypeBingMapsV8ConfigDefinition_languageTT">Tatar (татар теле, tatar tele)</localize></option>
                <option value="te"><localize key="terratypeBingMapsV8ConfigDefinition_languageTE">Telugu (తెలుగు)</localize></option>
                <option value="th"><localize key="terratypeBingMapsV8ConfigDefinition_languageTH">Thai (ไทย)</localize></option>
                <option value="bo"><localize key="terratypeBingMapsV8ConfigDefinition_languageBO">Tibetan (བོད་ཡིག)</localize></option>
                <option value="ti"><localize key="terratypeBingMapsV8ConfigDefinition_languageTI">Tigrinya (ትግርኛ)</localize></option>
                <option value="to"><localize key="terratypeBingMapsV8ConfigDefinition_languageTO">Tonga (faka Tonga)</localize></option>
                <option value="ts"><localize key="terratypeBingMapsV8ConfigDefinition_languageTS">Tsonga (Xitsonga)</localize></option>
                <option value="tn"><localize key="terratypeBingMapsV8ConfigDefinition_languageTN">Tswana (Setswana)</localize></option>
                <option value="tr"><localize key="terratypeBingMapsV8ConfigDefinition_languageTR">Turkish (Türkçe)</localize></option>
                <option value="tk"><localize key="terratypeBingMapsV8ConfigDefinition_languageTK">Turkmen (Türkmen, Түркмен)</localize></option>
                <option value="tw"><localize key="terratypeBingMapsV8ConfigDefinition_languageTW">Twi (Twi)</localize></option>
                <option value="uk"><localize key="terratypeBingMapsV8ConfigDefinition_languageUK">Ukrainian (Українська)</localize></option>
                <option value="ur"><localize key="terratypeBingMapsV8ConfigDefinition_languageUR">Urdu (اردو)</localize></option>
                <option value="ug"><localize key="terratypeBingMapsV8ConfigDefinition_languageUG">Uyghur (ئۇيغۇرچە‎, Uyghurche)</localize></option>
                <option value="uz"><localize key="terratypeBingMapsV8ConfigDefinition_languageUZ">Uzbek (Oʻzbek, Ўзбек, أۇزبېك‎)</localize></option>
                <option value="ve"><localize key="terratypeBingMapsV8ConfigDefinition_languageVE">Venda (Tshivenḓa)</localize></option>
                <option value="vi"><localize key="terratypeBingMapsV8ConfigDefinition_languageVI">Vietnamese (Tiếng Việt)</localize></option>
                <option value="vo"><localize key="terratypeBingMapsV8ConfigDefinition_languageVO">Volapük (Volapük)</localize></option>
                <option value="wa"><localize key="terratypeBingMapsV8ConfigDefinition_languageWA">Walloon (walon)</localize></option>
                <option value="cy"><localize key="terratypeBingMapsV8ConfigDefinition_languageCY">Welsh (Cymraeg)</localize></option>
                <option value="fy"><localize key="terratypeBingMapsV8ConfigDefinition_languageFY">Western Frisian (Frysk)</localize></option>
                <option value="wo"><localize key="terratypeBingMapsV8ConfigDefinition_languageWO">Wolof (Wollof)</localize></option>
                <option value="xh"><localize key="terratypeBingMapsV8ConfigDefinition_languageXH">Xhosa (isiXhosa)</localize></option>
                <option value="yi"><localize key="terratypeBingMapsV8ConfigDefinition_languageYI">Yiddish (ייִדיש)</localize></option>
                <option value="yo"><localize key="terratypeBingMapsV8ConfigDefinition_languageYO">Yoruba (Yorùbá)</localize></option>
                <option value="za"><localize key="terratypeBingMapsV8ConfigDefinition_languageZA">Zhuang (Saɯ cueŋƅ, Saw cuengh)</localize></option>
                <option value="zu"><localize key="terratypeBingMapsV8ConfigDefinition_languageZU">Zulu (isiZulu)</localize></option>
            </select>
        </div>
    </div>
</div>
