<div class="umb-el-wrap control-group">
    <label for="terratype_{{identifier}}_bingmapsv8_search_enable" class="control-label">
        <localize key="terratypeBingMapsV8ConfigSearch_typeLabel">Search:</localize>
        <small>
            <localize key="terratypeBingMapsV8ConfigSearch_typeDescription">Do you want to include a text box, to lookup locations</localize>
        </small>
    </label>
    <div class="controls">
        <select id="terratype_{{identifier}}_bingmapsv8_search_enable" ng-model="config().search.enable" ng-change="vm().provider.events.searchChange()" class="umb-editor" convert-to-number>
            <option value="0"><localize key="terratypeBingMapsV8ConfigSearch_typeDisable">Hide Search</localize></option>
            <option value="1"><localize key="terratypeBingMapsV8ConfigSearch_typeEnable">Enable Search</localize></option>
            <option value="2"><localize key="terratypeBingMapsV8ConfigSearch_typeAutocomplete">Enable Search with Autocomplete</localize></option>
        </select>
    </div>
</div>
<div class="umb-el-wrap control-group" ng-show="config().search.enable && config().search.enable != 0">
    <label for="terratype_{{identifier}}_bingmapsv8_searchcountry" class="control-label">
        <localize key="terratypeBingMapsV8ConfigSearch_countryLabel">Limit:</localize>
        <small>
            <localize key="terratypeBingMapsV8ConfigSearch_countryDescription">Limited all search results to a particular country or countries.</localize>
        </small>
    </label>
    <div class="controls">
        <select id="terratype_{{identifier}}_bingmapsv8_searchcountry" ng-model="config().search.limit.countries" multiple class="umb-editor" style="height:250px;" ng-change="vm().provider.events.searchCountryChange()">
            <option value="AF"><localize key="terratypeBingMapsV8ConfigSearch_countryAF">Afghanistan</localize></option>
            <option value="AX"><localize key="terratypeBingMapsV8ConfigSearch_countryAX">Aland Islands</localize></option>
            <option value="AL"><localize key="terratypeBingMapsV8ConfigSearch_countryAL">Albania</localize></option>
            <option value="DZ"><localize key="terratypeBingMapsV8ConfigSearch_countryDZ">Algeria</localize></option>
            <option value="AS"><localize key="terratypeBingMapsV8ConfigSearch_countryAS">American Samoa</localize></option>
            <option value="AD"><localize key="terratypeBingMapsV8ConfigSearch_countryAD">Andorra</localize></option>
            <option value="AO"><localize key="terratypeBingMapsV8ConfigSearch_countryAO">Angola</localize></option>
            <option value="AI"><localize key="terratypeBingMapsV8ConfigSearch_countryAI">Anguilla</localize></option>
            <option value="AQ"><localize key="terratypeBingMapsV8ConfigSearch_countryAQ">Antarctica</localize></option>
            <option value="AG"><localize key="terratypeBingMapsV8ConfigSearch_countryAG">Antigua and Barbuda</localize></option>
            <option value="AR"><localize key="terratypeBingMapsV8ConfigSearch_countryAR">Argentina</localize></option>
            <option value="AM"><localize key="terratypeBingMapsV8ConfigSearch_countryAM">Armenia</localize></option>
            <option value="AW"><localize key="terratypeBingMapsV8ConfigSearch_countryAW">Aruba</localize></option>
            <option value="AU"><localize key="terratypeBingMapsV8ConfigSearch_countryAU">Australia</localize></option>
            <option value="AT"><localize key="terratypeBingMapsV8ConfigSearch_countryAT">Austria</localize></option>
            <option value="AZ"><localize key="terratypeBingMapsV8ConfigSearch_countryAZ">Azerbaijan</localize></option>
            <option value="BS"><localize key="terratypeBingMapsV8ConfigSearch_countryBS">Bahamas</localize></option>
            <option value="BH"><localize key="terratypeBingMapsV8ConfigSearch_countryBH">Bahrain</localize></option>
            <option value="BD"><localize key="terratypeBingMapsV8ConfigSearch_countryBD">Bangladesh</localize></option>
            <option value="BB"><localize key="terratypeBingMapsV8ConfigSearch_countryBB">Barbados</localize></option>
            <option value="BY"><localize key="terratypeBingMapsV8ConfigSearch_countryBY">Belarus</localize></option>
            <option value="BE"><localize key="terratypeBingMapsV8ConfigSearch_countryBE">Belgium</localize></option>
            <option value="BZ"><localize key="terratypeBingMapsV8ConfigSearch_countryBZ">Belize</localize></option>
            <option value="BJ"><localize key="terratypeBingMapsV8ConfigSearch_countryBJ">Benin</localize></option>
            <option value="BM"><localize key="terratypeBingMapsV8ConfigSearch_countryBM">Bermuda</localize></option>
            <option value="BT"><localize key="terratypeBingMapsV8ConfigSearch_countryBT">Bhutan</localize></option>
            <option value="BO"><localize key="terratypeBingMapsV8ConfigSearch_countryBO">Bolivia</localize></option>
            <option value="BA"><localize key="terratypeBingMapsV8ConfigSearch_countryBA">Bosnia and Herzegovina</localize></option>
            <option value="BW"><localize key="terratypeBingMapsV8ConfigSearch_countryBW">Botswana</localize></option>
            <option value="BV"><localize key="terratypeBingMapsV8ConfigSearch_countryBV">Bouvet Island</localize></option>
            <option value="BR"><localize key="terratypeBingMapsV8ConfigSearch_countryBR">Brazil</localize></option>
            <option value="IO"><localize key="terratypeBingMapsV8ConfigSearch_countryIO">British Indian Ocean Territory</localize></option>
            <option value="VG"><localize key="terratypeBingMapsV8ConfigSearch_countryVG">British Virgin Islands</localize></option>
            <option value="BN"><localize key="terratypeBingMapsV8ConfigSearch_countryBN">Brunei Darussalam</localize></option>
            <option value="BG"><localize key="terratypeBingMapsV8ConfigSearch_countryBG">Bulgaria</localize></option>
            <option value="BF"><localize key="terratypeBingMapsV8ConfigSearch_countryBF">Burkina Faso</localize></option>
            <option value="BI"><localize key="terratypeBingMapsV8ConfigSearch_countryBI">Burundi</localize></option>
            <option value="KH"><localize key="terratypeBingMapsV8ConfigSearch_countryKH">Cambodia</localize></option>
            <option value="CM"><localize key="terratypeBingMapsV8ConfigSearch_countryCM">Cameroon</localize></option>
            <option value="CA"><localize key="terratypeBingMapsV8ConfigSearch_countryCA">Canada</localize></option>
            <option value="CV"><localize key="terratypeBingMapsV8ConfigSearch_countryCV">Cape Verde</localize></option>
            <option value="KY"><localize key="terratypeBingMapsV8ConfigSearch_countryKY">Cayman Islands</localize></option>
            <option value="CF"><localize key="terratypeBingMapsV8ConfigSearch_countryCF">Central African Republic</localize></option>
            <option value="TD"><localize key="terratypeBingMapsV8ConfigSearch_countryTD">Chad</localize></option>
            <option value="CL"><localize key="terratypeBingMapsV8ConfigSearch_countryCL">Chile</localize></option>
            <option value="CN"><localize key="terratypeBingMapsV8ConfigSearch_countryCN">China</localize></option>
            <option value="CX"><localize key="terratypeBingMapsV8ConfigSearch_countryCX">Christmas Island</localize></option>
            <option value="CC"><localize key="terratypeBingMapsV8ConfigSearch_countryCC">Cocos Islands</localize></option>
            <option value="CO"><localize key="terratypeBingMapsV8ConfigSearch_countryCO">Colombia</localize></option>
            <option value="KM"><localize key="terratypeBingMapsV8ConfigSearch_countryKM">Comoros</localize></option>
            <option value="CD"><localize key="terratypeBingMapsV8ConfigSearch_countryCD">Congo</localize></option>
            <option value="CG"><localize key="terratypeBingMapsV8ConfigSearch_countryCG">Congo (Brazzaville)</localize></option>
            <option value="CK"><localize key="terratypeBingMapsV8ConfigSearch_countryCK">Cook Islands</localize></option>
            <option value="CR"><localize key="terratypeBingMapsV8ConfigSearch_countryCR">Costa Rica</localize></option>
            <option value="CI"><localize key="terratypeBingMapsV8ConfigSearch_countryCI">Côte d'Ivoire</localize></option>
            <option value="HR"><localize key="terratypeBingMapsV8ConfigSearch_countryHR">Croatia</localize></option>
            <option value="CU"><localize key="terratypeBingMapsV8ConfigSearch_countryCU">Cuba</localize></option>
            <option value="CY"><localize key="terratypeBingMapsV8ConfigSearch_countryCY">Cyprus</localize></option>
            <option value="CZ"><localize key="terratypeBingMapsV8ConfigSearch_countryCZ">Czech Republic</localize></option>
            <option value="DK"><localize key="terratypeBingMapsV8ConfigSearch_countryDK">Denmark</localize></option>
            <option value="DJ"><localize key="terratypeBingMapsV8ConfigSearch_countryDJ">Djibouti</localize></option>
            <option value="DM"><localize key="terratypeBingMapsV8ConfigSearch_countryDM">Dominica</localize></option>
            <option value="DO"><localize key="terratypeBingMapsV8ConfigSearch_countryDO">Dominican Republic</localize></option>
            <option value="EC"><localize key="terratypeBingMapsV8ConfigSearch_countryEC">Ecuador</localize></option>
            <option value="EG"><localize key="terratypeBingMapsV8ConfigSearch_countryEG">Egypt</localize></option>
            <option value="SV"><localize key="terratypeBingMapsV8ConfigSearch_countrySV">El Salvador</localize></option>
            <option value="GQ"><localize key="terratypeBingMapsV8ConfigSearch_countryGQ">Equatorial Guinea</localize></option>
            <option value="ER"><localize key="terratypeBingMapsV8ConfigSearch_countryER">Eritrea</localize></option>
            <option value="EE"><localize key="terratypeBingMapsV8ConfigSearch_countryEE">Estonia</localize></option>
            <option value="ET"><localize key="terratypeBingMapsV8ConfigSearch_countryET">Ethiopia</localize></option>
            <option value="FK"><localize key="terratypeBingMapsV8ConfigSearch_countryFK">Falkland Islands</localize></option>
            <option value="FO"><localize key="terratypeBingMapsV8ConfigSearch_countryFO">Faroe Islands</localize></option>
            <option value="FJ"><localize key="terratypeBingMapsV8ConfigSearch_countryFJ">Fiji</localize></option>
            <option value="FI"><localize key="terratypeBingMapsV8ConfigSearch_countryFI">Finland</localize></option>
            <option value="FR"><localize key="terratypeBingMapsV8ConfigSearch_countryFR">France</localize></option>
            <option value="GF"><localize key="terratypeBingMapsV8ConfigSearch_countryGF">French Guiana</localize></option>
            <option value="PF"><localize key="terratypeBingMapsV8ConfigSearch_countryPF">French Polynesia</localize></option>
            <option value="TF"><localize key="terratypeBingMapsV8ConfigSearch_countryTF">French Southern Territories</localize></option>
            <option value="GA"><localize key="terratypeBingMapsV8ConfigSearch_countryGA">Gabon</localize></option>
            <option value="GM"><localize key="terratypeBingMapsV8ConfigSearch_countryGM">Gambia</localize></option>
            <option value="GE"><localize key="terratypeBingMapsV8ConfigSearch_countryGE">Georgia</localize></option>
            <option value="DE"><localize key="terratypeBingMapsV8ConfigSearch_countryDE">Germany</localize></option>
            <option value="GH"><localize key="terratypeBingMapsV8ConfigSearch_countryGH">Ghana</localize></option>
            <option value="GI"><localize key="terratypeBingMapsV8ConfigSearch_countryGI">Gibraltar</localize></option>
            <option value="GR"><localize key="terratypeBingMapsV8ConfigSearch_countryGR">Greece</localize></option>
            <option value="GL"><localize key="terratypeBingMapsV8ConfigSearch_countryGL">Greenland</localize></option>
            <option value="GD"><localize key="terratypeBingMapsV8ConfigSearch_countryGD">Grenada</localize></option>
            <option value="GP"><localize key="terratypeBingMapsV8ConfigSearch_countryGP">Guadeloupe</localize></option>
            <option value="GU"><localize key="terratypeBingMapsV8ConfigSearch_countryGU">Guam</localize></option>
            <option value="GT"><localize key="terratypeBingMapsV8ConfigSearch_countryGT">Guatemala</localize></option>
            <option value="GG"><localize key="terratypeBingMapsV8ConfigSearch_countryGG">Guernsey</localize></option>
            <option value="GN"><localize key="terratypeBingMapsV8ConfigSearch_countryGN">Guinea</localize></option>
            <option value="GW"><localize key="terratypeBingMapsV8ConfigSearch_countryGW">Guinea-Bissau</localize></option>
            <option value="GY"><localize key="terratypeBingMapsV8ConfigSearch_countryGY">Guyana</localize></option>
            <option value="HT"><localize key="terratypeBingMapsV8ConfigSearch_countryHT">Haiti</localize></option>
            <option value="HM"><localize key="terratypeBingMapsV8ConfigSearch_countryHM">Heard Island and Mcdonald Islands</localize></option>
            <option value="VA"><localize key="terratypeBingMapsV8ConfigSearch_countryVA">Holy See (Vatican City State)</localize></option>
            <option value="HN"><localize key="terratypeBingMapsV8ConfigSearch_countryHN">Honduras</localize></option>
            <option value="HK"><localize key="terratypeBingMapsV8ConfigSearch_countryHK">Hong Kong</localize></option>
            <option value="HU"><localize key="terratypeBingMapsV8ConfigSearch_countryHU">Hungary</localize></option>
            <option value="IS"><localize key="terratypeBingMapsV8ConfigSearch_countryIS">Iceland</localize></option>
            <option value="IN"><localize key="terratypeBingMapsV8ConfigSearch_countryIN">India</localize></option>
            <option value="ID"><localize key="terratypeBingMapsV8ConfigSearch_countryID">Indonesia</localize></option>
            <option value="IR"><localize key="terratypeBingMapsV8ConfigSearch_countryIR">Iran</localize></option>
            <option value="IQ"><localize key="terratypeBingMapsV8ConfigSearch_countryIQ">Iraq</localize></option>
            <option value="IE"><localize key="terratypeBingMapsV8ConfigSearch_countryIE">Ireland</localize></option>
            <option value="IM"><localize key="terratypeBingMapsV8ConfigSearch_countryIM">Isle of Man</localize></option>
            <option value="IL"><localize key="terratypeBingMapsV8ConfigSearch_countryIL">Israel</localize></option>
            <option value="IT"><localize key="terratypeBingMapsV8ConfigSearch_countryIT">Italy</localize></option>
            <option value="JM"><localize key="terratypeBingMapsV8ConfigSearch_countryJM">Jamaica</localize></option>
            <option value="JP"><localize key="terratypeBingMapsV8ConfigSearch_countryJP">Japan</localize></option>
            <option value="JE"><localize key="terratypeBingMapsV8ConfigSearch_countryJE">Jersey</localize></option>
            <option value="JO"><localize key="terratypeBingMapsV8ConfigSearch_countryJO">Jordan</localize></option>
            <option value="KZ"><localize key="terratypeBingMapsV8ConfigSearch_countryKZ">Kazakhstan</localize></option>
            <option value="KE"><localize key="terratypeBingMapsV8ConfigSearch_countryKE">Kenya</localize></option>
            <option value="KI"><localize key="terratypeBingMapsV8ConfigSearch_countryKI">Kiribati</localize></option>
            <option value="KW"><localize key="terratypeBingMapsV8ConfigSearch_countryKW">Kuwait</localize></option>
            <option value="KG"><localize key="terratypeBingMapsV8ConfigSearch_countryKG">Kyrgyzstan</localize></option>
            <option value="LA"><localize key="terratypeBingMapsV8ConfigSearch_countryLA">Lao PDR</localize></option>
            <option value="LV"><localize key="terratypeBingMapsV8ConfigSearch_countryLV">Latvia</localize></option>
            <option value="LB"><localize key="terratypeBingMapsV8ConfigSearch_countryLB">Lebanon</localize></option>
            <option value="LS"><localize key="terratypeBingMapsV8ConfigSearch_countryLS">Lesotho</localize></option>
            <option value="LR"><localize key="terratypeBingMapsV8ConfigSearch_countryLR">Liberia</localize></option>
            <option value="LY"><localize key="terratypeBingMapsV8ConfigSearch_countryLY">Libya</localize></option>
            <option value="LI"><localize key="terratypeBingMapsV8ConfigSearch_countryLI">Liechtenstein</localize></option>
            <option value="LT"><localize key="terratypeBingMapsV8ConfigSearch_countryLT">Lithuania</localize></option>
            <option value="LU"><localize key="terratypeBingMapsV8ConfigSearch_countryLU">Luxembourg</localize></option>
            <option value="MO"><localize key="terratypeBingMapsV8ConfigSearch_countryMO">Macao</localize></option>
            <option value="MK"><localize key="terratypeBingMapsV8ConfigSearch_countryMK">Macedonia</localize></option>
            <option value="MG"><localize key="terratypeBingMapsV8ConfigSearch_countryMG">Madagascar</localize></option>
            <option value="MW"><localize key="terratypeBingMapsV8ConfigSearch_countryMW">Malawi</localize></option>
            <option value="MY"><localize key="terratypeBingMapsV8ConfigSearch_countryMY">Malaysia</localize></option>
            <option value="MV"><localize key="terratypeBingMapsV8ConfigSearch_countryMV">Maldives</localize></option>
            <option value="ML"><localize key="terratypeBingMapsV8ConfigSearch_countryML">Mali</localize></option>
            <option value="MT"><localize key="terratypeBingMapsV8ConfigSearch_countryMT">Malta</localize></option>
            <option value="MH"><localize key="terratypeBingMapsV8ConfigSearch_countryMH">Marshall Islands</localize></option>
            <option value="MQ"><localize key="terratypeBingMapsV8ConfigSearch_countryMQ">Martinique</localize></option>
            <option value="MR"><localize key="terratypeBingMapsV8ConfigSearch_countryMR">Mauritania</localize></option>
            <option value="MU"><localize key="terratypeBingMapsV8ConfigSearch_countryMU">Mauritius</localize></option>
            <option value="YT"><localize key="terratypeBingMapsV8ConfigSearch_countryYT">Mayotte</localize></option>
            <option value="MX"><localize key="terratypeBingMapsV8ConfigSearch_countryMX">Mexico</localize></option>
            <option value="FM"><localize key="terratypeBingMapsV8ConfigSearch_countryFM">Micronesia</localize></option>
            <option value="MD"><localize key="terratypeBingMapsV8ConfigSearch_countryMD">Moldova</localize></option>
            <option value="MC"><localize key="terratypeBingMapsV8ConfigSearch_countryMC">Monaco</localize></option>
            <option value="MN"><localize key="terratypeBingMapsV8ConfigSearch_countryMN">Mongolia</localize></option>
            <option value="ME"><localize key="terratypeBingMapsV8ConfigSearch_countryME">Montenegro</localize></option>
            <option value="MS"><localize key="terratypeBingMapsV8ConfigSearch_countryMS">Montserrat</localize></option>
            <option value="MA"><localize key="terratypeBingMapsV8ConfigSearch_countryMA">Morocco</localize></option>
            <option value="MZ"><localize key="terratypeBingMapsV8ConfigSearch_countryMZ">Mozambique</localize></option>
            <option value="MM"><localize key="terratypeBingMapsV8ConfigSearch_countryMM">Myanmar</localize></option>
            <option value="NA"><localize key="terratypeBingMapsV8ConfigSearch_countryNA">Namibia</localize></option>
            <option value="NR"><localize key="terratypeBingMapsV8ConfigSearch_countryNR">Nauru</localize></option>
            <option value="NP"><localize key="terratypeBingMapsV8ConfigSearch_countryNP">Nepal</localize></option>
            <option value="NL"><localize key="terratypeBingMapsV8ConfigSearch_countryNL">Netherlands</localize></option>
            <option value="AN"><localize key="terratypeBingMapsV8ConfigSearch_countryAN">Netherlands Antilles</localize></option>
            <option value="NC"><localize key="terratypeBingMapsV8ConfigSearch_countryNC">New Caledonia</localize></option>
            <option value="NZ"><localize key="terratypeBingMapsV8ConfigSearch_countryNZ">New Zealand</localize></option>
            <option value="NI"><localize key="terratypeBingMapsV8ConfigSearch_countryNI">Nicaragua</localize></option>
            <option value="NE"><localize key="terratypeBingMapsV8ConfigSearch_countryNE">Niger</localize></option>
            <option value="NG"><localize key="terratypeBingMapsV8ConfigSearch_countryNG">Nigeria</localize></option>
            <option value="NU"><localize key="terratypeBingMapsV8ConfigSearch_countryNU">Niue</localize></option>
            <option value="NF"><localize key="terratypeBingMapsV8ConfigSearch_countryNF">Norfolk Island</localize></option>
            <option value="KP"><localize key="terratypeBingMapsV8ConfigSearch_countryKP">North Korea</localize></option>
            <option value="MP"><localize key="terratypeBingMapsV8ConfigSearch_countryMP">Northern Mariana Islands</localize></option>
            <option value="NO"><localize key="terratypeBingMapsV8ConfigSearch_countryNO">Norway</localize></option>
            <option value="OM"><localize key="terratypeBingMapsV8ConfigSearch_countryOM">Oman</localize></option>
            <option value="PK"><localize key="terratypeBingMapsV8ConfigSearch_countryPK">Pakistan</localize></option>
            <option value="PW"><localize key="terratypeBingMapsV8ConfigSearch_countryPW">Palau</localize></option>
            <option value="PS"><localize key="terratypeBingMapsV8ConfigSearch_countryPS">Palestinian Territory</localize></option>
            <option value="PA"><localize key="terratypeBingMapsV8ConfigSearch_countryPA">Panama</localize></option>
            <option value="PG"><localize key="terratypeBingMapsV8ConfigSearch_countryPG">Papua New Guinea</localize></option>
            <option value="PY"><localize key="terratypeBingMapsV8ConfigSearch_countryPY">Paraguay</localize></option>
            <option value="PE"><localize key="terratypeBingMapsV8ConfigSearch_countryPE">Peru</localize></option>
            <option value="PH"><localize key="terratypeBingMapsV8ConfigSearch_countryPH">Philippines</localize></option>
            <option value="PN"><localize key="terratypeBingMapsV8ConfigSearch_countryPN">Pitcairn</localize></option>
            <option value="PL"><localize key="terratypeBingMapsV8ConfigSearch_countryPL">Poland</localize></option>
            <option value="PT"><localize key="terratypeBingMapsV8ConfigSearch_countryPT">Portugal</localize></option>
            <option value="PR"><localize key="terratypeBingMapsV8ConfigSearch_countryPR">Puerto Rico</localize></option>
            <option value="QA"><localize key="terratypeBingMapsV8ConfigSearch_countryQA">Qatar</localize></option>
            <option value="RE"><localize key="terratypeBingMapsV8ConfigSearch_countryRE">Réunion</localize></option>
            <option value="RO"><localize key="terratypeBingMapsV8ConfigSearch_countryRO">Romania</localize></option>
            <option value="RU"><localize key="terratypeBingMapsV8ConfigSearch_countryRU">Russian Federation</localize></option>
            <option value="RW"><localize key="terratypeBingMapsV8ConfigSearch_countryRW">Rwanda</localize></option>
            <option value="SH"><localize key="terratypeBingMapsV8ConfigSearch_countrySH">Saint Helena</localize></option>
            <option value="KN"><localize key="terratypeBingMapsV8ConfigSearch_countryKN">Saint Kitts and Nevis</localize></option>
            <option value="LC"><localize key="terratypeBingMapsV8ConfigSearch_countryLC">Saint Lucia</localize></option>
            <option value="PM"><localize key="terratypeBingMapsV8ConfigSearch_countryPM">Saint Pierre and Miquelon</localize></option>
            <option value="VC"><localize key="terratypeBingMapsV8ConfigSearch_countryVC">Saint Vincent and Grenadines</localize></option>
            <option value="BL"><localize key="terratypeBingMapsV8ConfigSearch_countryBL">Saint-Barthélemy</localize></option>
            <option value="MF"><localize key="terratypeBingMapsV8ConfigSearch_countryMF">Saint-Martin (French part)</localize></option>
            <option value="WS"><localize key="terratypeBingMapsV8ConfigSearch_countryWS">Samoa</localize></option>
            <option value="SM"><localize key="terratypeBingMapsV8ConfigSearch_countrySM">San Marino</localize></option>
            <option value="ST"><localize key="terratypeBingMapsV8ConfigSearch_countryST">Sao Tome and Principe</localize></option>
            <option value="SA"><localize key="terratypeBingMapsV8ConfigSearch_countrySA">Saudi Arabia</localize></option>
            <option value="SN"><localize key="terratypeBingMapsV8ConfigSearch_countrySN">Senegal</localize></option>
            <option value="RS"><localize key="terratypeBingMapsV8ConfigSearch_countryRS">Serbia</localize></option>
            <option value="SC"><localize key="terratypeBingMapsV8ConfigSearch_countrySC">Seychelles</localize></option>
            <option value="SL"><localize key="terratypeBingMapsV8ConfigSearch_countrySL">Sierra Leone</localize></option>
            <option value="SG"><localize key="terratypeBingMapsV8ConfigSearch_countrySG">Singapore</localize></option>
            <option value="SK"><localize key="terratypeBingMapsV8ConfigSearch_countrySK">Slovakia</localize></option>
            <option value="SI"><localize key="terratypeBingMapsV8ConfigSearch_countrySI">Slovenia</localize></option>
            <option value="SB"><localize key="terratypeBingMapsV8ConfigSearch_countrySB">Solomon Islands</localize></option>
            <option value="SO"><localize key="terratypeBingMapsV8ConfigSearch_countrySO">Somalia</localize></option>
            <option value="ZA"><localize key="terratypeBingMapsV8ConfigSearch_countryZA">South Africa</localize></option>
            <option value="GS"><localize key="terratypeBingMapsV8ConfigSearch_countryGS">South Georgia and the South Sandwich Islands</localize></option>
            <option value="KR"><localize key="terratypeBingMapsV8ConfigSearch_countryKR">South Korea</localize></option>
            <option value="SS"><localize key="terratypeBingMapsV8ConfigSearch_countrySS">South Sudan</localize></option>
            <option value="ES"><localize key="terratypeBingMapsV8ConfigSearch_countryES">Spain</localize></option>
            <option value="LK"><localize key="terratypeBingMapsV8ConfigSearch_countryLK">Sri Lanka</localize></option>
            <option value="SD"><localize key="terratypeBingMapsV8ConfigSearch_countrySD">Sudan</localize></option>
            <option value="SR"><localize key="terratypeBingMapsV8ConfigSearch_countrySR">Suriname *</localize></option>
            <option value="SJ"><localize key="terratypeBingMapsV8ConfigSearch_countrySJ">Svalbard and Jan Mayen</localize></option>
            <option value="SZ"><localize key="terratypeBingMapsV8ConfigSearch_countrySZ">Swaziland</localize></option>
            <option value="SE"><localize key="terratypeBingMapsV8ConfigSearch_countrySE">Sweden</localize></option>
            <option value="CH"><localize key="terratypeBingMapsV8ConfigSearch_countryCH">Switzerland</localize></option>
            <option value="SY"><localize key="terratypeBingMapsV8ConfigSearch_countrySY">Syria</localize></option>
            <option value="TW"><localize key="terratypeBingMapsV8ConfigSearch_countryTW">Taiwan</localize></option>
            <option value="TJ"><localize key="terratypeBingMapsV8ConfigSearch_countryTJ">Tajikistan</localize></option>
            <option value="TZ"><localize key="terratypeBingMapsV8ConfigSearch_countryTZ">Tanzania</localize></option>
            <option value="TH"><localize key="terratypeBingMapsV8ConfigSearch_countryTH">Thailand</localize></option>
            <option value="TL"><localize key="terratypeBingMapsV8ConfigSearch_countryTL">Timor-Leste</localize></option>
            <option value="TG"><localize key="terratypeBingMapsV8ConfigSearch_countryTG">Togo</localize></option>
            <option value="TK"><localize key="terratypeBingMapsV8ConfigSearch_countryTK">Tokelau</localize></option>
            <option value="TO"><localize key="terratypeBingMapsV8ConfigSearch_countryTO">Tonga</localize></option>
            <option value="TT"><localize key="terratypeBingMapsV8ConfigSearch_countryTT">Trinidad and Tobago</localize></option>
            <option value="TN"><localize key="terratypeBingMapsV8ConfigSearch_countryTN">Tunisia</localize></option>
            <option value="TR"><localize key="terratypeBingMapsV8ConfigSearch_countryTR">Turkey</localize></option>
            <option value="TM"><localize key="terratypeBingMapsV8ConfigSearch_countryTM">Turkmenistan</localize></option>
            <option value="TC"><localize key="terratypeBingMapsV8ConfigSearch_countryTC">Turks and Caicos</localize></option>
            <option value="TV"><localize key="terratypeBingMapsV8ConfigSearch_countryTV">Tuvalu</localize></option>
            <option value="UG"><localize key="terratypeBingMapsV8ConfigSearch_countryUG">Uganda</localize></option>
            <option value="UA"><localize key="terratypeBingMapsV8ConfigSearch_countryUA">Ukraine</localize></option>
            <option value="AE"><localize key="terratypeBingMapsV8ConfigSearch_countryAE">United Arab Emirates</localize></option>
            <option value="GB"><localize key="terratypeBingMapsV8ConfigSearch_countryGB">United Kingdom</localize></option>
            <option value="UM"><localize key="terratypeBingMapsV8ConfigSearch_countryUM">United States Minor Outlying Islands</localize></option>
            <option value="US"><localize key="terratypeBingMapsV8ConfigSearch_countryUS">United States of America</localize></option>
            <option value="UY"><localize key="terratypeBingMapsV8ConfigSearch_countryUY">Uruguay</localize></option>
            <option value="UZ"><localize key="terratypeBingMapsV8ConfigSearch_countryUZ">Uzbekistan</localize></option>
            <option value="VU"><localize key="terratypeBingMapsV8ConfigSearch_countryVU">Vanuatu</localize></option>
            <option value="VE"><localize key="terratypeBingMapsV8ConfigSearch_countryVE">Venezuela</localize></option>
            <option value="VN"><localize key="terratypeBingMapsV8ConfigSearch_countryVN">Viet Nam</localize></option>
            <option value="VI"><localize key="terratypeBingMapsV8ConfigSearch_countryVI">Virgin Islands, US</localize></option>
            <option value="WF"><localize key="terratypeBingMapsV8ConfigSearch_countryWF">Wallis and Futuna Islands</localize></option>
            <option value="EH"><localize key="terratypeBingMapsV8ConfigSearch_countryEH">Western Sahara</localize></option>
            <option value="YE"><localize key="terratypeBingMapsV8ConfigSearch_countryYE">Yemen</localize></option>
            <option value="ZM"><localize key="terratypeBingMapsV8ConfigSearch_countryZM">Zambia</localize></option>
            <option value="ZW"><localize key="terratypeBingMapsV8ConfigSearch_countryZW">Zimbabwe</localize></option>
        </select>
    </div>
</div>
