<div class="umb-editor">
    <label for="terratype_{{model.alias}}_googlemapv3_apikey" class="control-label">
        Google API Key:
    </label>

    <input id="terratype_{{model.alias}}_googlemapv3_apikey" type="text" ng-model="model.value.provider.apiKey" class="umb-editor umb-textstring textstring" placeholder="Google API key" />
    <div class="umb-editor" ng-show="bag.provider.coordinateSystem.id != null">
        <div style="margin-left:170px;margin-top:5px;">
            <a href="https://developers.google.com/maps/documentation/javascript/get-api-key#get-an-api-key" target="_blank" style="font-size:smaller;">[Get a Key]</a>
            <div>
                <div ng-show="bag.provider.apiKeyLoading">
                    <img src="/umbraco/assets/img/loader.gif" />
                </div>
                <div ng-show="bag.provider.apiKeyFailed">
                    <img src="/umbraco/images/false.png" />
                    <span style="color:red;padding-right:10px;">Invalid API Key</span>
                    <button ng-click="bag.provider.apiKeyLoad(model.value.provider.apiKey)">Retry</button>
                </div>
                <div ng-show="bag.provider.apiKeySuccess">
                    <img src="/umbraco/images/true.png" />
                    <span style="color:green;">API Key is valid</span>
                </div>
            </div>
            <small>
                Enter your <a href="https://console.developers.google.com/apis/credentials">Google Map API Key</a> which is linked to this domain. Using localhost with a port number also requires a key. Deploying this Umbraco to other domains requires those domains to be linked to this Google Map API key too.
            </small>
        </div>
    </div>
</div>
