<!-- Terratype -->
<div ng-controller="terratype" ng-init="view().initGrid()" ng-show="!view().loading">
    <div class="umb-editor-placeholder" ng-click="setMap()" ng-if="control.value === null">
        <i class="icon icon-picture"></i>
        <div ng-id="!control.$inserted" class="help-text">
            Click to insert map
        </div>
    </div>
    <div ng-if="control.value">
        <img ng-if="url"
             ng-click="setImage()"
             ng-src="{{url}}"
             class="fullSizeImage" />
        <input type="text" class="caption" ng-model="control.value.caption" localize="placeholder" placeholder="@grid_placeholderImageCaption" />
    </div>
    <umb-overlay ng-if="mediaPickerOverlay.show"
                 model="mediaPickerOverlay"
                 view="mediaPickerOverlay.view"
                 position="right">
    </umb-overlay>
</div>




<div class="ng-cloak terratype" ng-controller="terratype" ng-init="view().initGrid()" ng-show="!view().loading">
    <div class="umb-el-wrap control-group">
        <label for="terratype_{{view().identifier}}_grid" class="control-label">
            Map Provider:
            <small>
                Select which system you wish to use to display maps
            </small>
        </label>
        <div class="controls" ng-if="view().providers.length != 0">
            <select id="terratype_{{view().identifier}}_provider" ng-model="config().provider.id" class="umb-editor" ng-change="view().setProvider(config().provider.id)" ng-options="p.id as p.name for p in view().providers"></select>
        </div>
    </div>
    


    <div style="background-color: yellow;">
        <h3>
            {{view().identifier}}
        </h3>
    </div>

    <div>
        <div ng-show="view().isPreview">
            <div ng-style="{'background-image':'url(' + view().provider.events.files.mapExample + ')','padding-top': '10px 0 10px 25px', 'margin':'-40px 0 0 -10px', 'height':'100px'}">
                <div style="text-align:center">
                    <div ng-show="config().debug != 1">
                        <img ng-src="{{view().absoluteUrl(config().icon.url)}}" ng-style="{'width': config().icon.size.width + 'px', 'height': config().icon.size.height + 'px', 'margin-top':'25px'}" />
                    </div>
                    <div ng-show="config().debug == 1">
                        <h2 style="padding-top:25px;">
                            DEBUG MODE
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="!view().isPreview">
            <div ng-show="config().debug != 1">
                <ng-include src="view().provider.events.files.views.editor.apperance">
                </ng-include>
            </div>
            <div ng-show="config().debug != 0">
                <div ng-show="error" style="color:red;">
                    Error loading Terratype control, the json below is corrupt
                </div>
                <textarea style="height:300px;width:100%;margin:20px 10px 0 0;background-color:khaki;color:black;" spellcheck=false ng-model="model.value" json-text></textarea>
            </div>
        </div>
    </div>
</div>
