<div class="ng-cloak terratype" ng-controller="terratype" ng-init="view().initConfig()" ng-show="!view().loading">
    <div class="umb-el-wrap control-group">
        <label for="terratype_{{view().identifier}}_provider" class="control-label">
            Map Provider:
            <small>
                Select which system you wish to use to display maps
            </small>
        </label>
        <div class="controls" ng-if="view().providers.length != 0">
            <select id="terratype_{{view().identifier}}_provider" ng-model="config().provider.id" class="umb-editor" ng-change="view().setProvider(config().provider.id)" ng-options="p.id as p.name for p in view().providers">
            </select>
        </div>
    </div>
    <br />
    <fieldset ng-show="view().provider.id" style="padding-left:15px;">
        <a href="{{view().provider.referenceUrl}}" target="_blank">
            <legend ng-style="{'padding-left':'36px', 'background-image':'url(' + view().provider.events.files.logo + ')', 'background-size': 'auto 32px', 'background-repeat': 'no-repeat'}">
                {{view().provider.name}}
            </legend>
        </a>
        <p>{{view().provider.description}}</p>
        <br />
        <section>
            <h4 style="background-color:#dfdfdf;padding: 5px 0 5px 5px;margin-left:-5px;">
                Configure
            </h4>
            <div class="umb-el-wrap control-group">
                <label for="terratype_{{view().identifier}}_coordinatesystem" class="control-label">
                    Coordinate System:
                    <small>
                        Which Geodetic Coordinate System do you wish to use to present and store locations
                    </small>
                </label>
                <div class="controls" ng-if="config && view().provider.coordinateSystems && view().provider.coordinateSystems.length != 0">
                    <select id="terratype_{{view().identifier}}_coordinatesystem" ng-model="store().position.id" class="umb-editor" ng-change="view().setCoordinateSystem(store().position.id)" ng-disabled="!config().provider.id" ng-options="c.id as c.name for c in view().provider.coordinateSystems">
                    </select>
                    <div>
                        <small ng-show="store().position.id">
                            <a href="{{view().position.referenceUrl}}" target="_blank">
                                {{view().position.description}}
                            </a>
                        </small>
                    </div>
                </div>
            </div>
            <br />
            <ng-include src="view().provider.events.files.views.config.definition">
            </ng-include>
        </section>
        <section>
            <h4 style="background-color:#dfdfdf;padding: 5px 0 5px 5px;margin-left:-5px;">
                Search
            </h4>
            <ng-include src="view().provider.events.files.views.config.search">
            </ng-include>
        </section>
        <section>
            <h4 style="background-color:#dfdfdf;padding: 5px 0 5px 5px;margin-left:-5px;">
                Apperance
            </h4>
            <div class="umb-el-wrap control-group">
                <label for="terratype_{{view().identifier}}_height" class="control-label">
                    Height:
                    <small>
                        The height of the map as displayed to the content editor in pixels
                    </small>
                </label>
                <div class="controls">
                    <input type="number" id="terratype_{{view().identifier}}_height" ng-model="config().height" class="umb-editor" placeholder="Height of map in pixels" />
                </div>
            </div>
            <ng-include src="view().provider.events.files.views.config.apperance">
            </ng-include>
        </section>
        <section>
            <h4 style="background-color:#dfdfdf;padding: 5px 0 5px 5px;margin-left:-5px;">
                Icon
            </h4>
            <div class="umb-el-wrap control-group">
                <label for="terratype_{{view().identifier}}_icon_id" class="control-label">
                    Predefine:
                    <small>
                        Select the Map marker image to display the selected location on the map, you can choose from a predefine list or your own custom attributes
                    </small>
                </label>
                <div class="controls">
                    <select id="terratype_{{view().identifier}}_icon_predefine" ng-model="config().icon.id" class="umb-editor" ng-change="view().iconPredefineChange(config().icon.id)" ng-options="p.id as p.name for p in view().icon.predefine">
                    </select>
                </div>
            </div>

            <div class="umb-el-wrap control-group">
                <label for="terratype_{{view().identifier}}_icon_url" class="control-label">
                    Image url:
                    <small>
                        Image location. If you include a protocol (http:// or https://), make sure it matches your website
                    </small>
                </label>
                <div class="controls">
                    <input type="text" id="terratype_{{view().identifier}}_icon_url" ng-model="config().icon.url" class="umb-editor umb-textstring textstring" ng-change="view().iconImageChange(config().icon.url)" placeholder="Url" spellcheck=false />
                    <div ng-show="view().icon.urlFailed && view().icon.urlFailed != ''">
                        <small style="color:red;">
                            Error: {{view().icon.urlFailed}}
                        </small>
                    </div>
                </div>
            </div>
            <div class="umb-el-wrap control-group">
                <label for="terratype_{{view().identifier}}_icon_width" class="control-label">
                    Width:
                    <small>
                        Width of the image in pixels
                    </small>
                </label>
                <div class="controls">
                    <input type="number" id="terratype_{{view().identifier}}_icon_width" ng-model="config().icon.size.width" class="umb-editor" ng-change="view().iconCustom()" placeholder="Numeric value" />
                </div>
            </div>
            <div class="umb-el-wrap control-group">
                <label for="terratype_{{view().identifier}}_icon_height" class="control-label">
                    Height:
                    <small>
                        Height of the image in pixels
                    </small>
                </label>
                <div class="controls">
                    <input type="number" id="terratype_{{view().identifier}}_icon_height" ng-model="config().icon.size.height" class="umb-editor" ng-change="view().iconCustom()" placeholder="Numeric value" />
                </div>
            </div>
            <div class="umb-el-wrap control-group">
                <label for="terratype_{{view().identifier}}_icon_anchor_horizontal" class="control-label">
                    Horizontal Anchor:
                    <small>
                        Focal point of the icon. Ether enter a custom value in pixels from the top edge or choose from a predefine list
                    </small>
                </label>
                <div class="controls">
                    <input type="radio" name="terratype_{{view().identifier}}_icon_anchor_horizontal" ng-model="view().icon.anchor.horizontal.isManual" ng-value="true" title="Use custom value" ng-change="config().icon.anchor.horizontal = view().icon.anchor.horizontal.manual; view().iconCustom()" />
                    <input type="number" ng-model="view().icon.anchor.horizontal.manual" class="umb-editor" ng-disabled="view().icon.anchor.horizontal.isManual == false" placeholder="Custom numeric value" ng-change="config().icon.anchor.horizontal = view().icon.anchor.horizontal.manual; view().iconCustom()" />
                </div>
                <div class="controls" style="margin-top:3px;">
                    <input type="radio" name="terratype_{{view().identifier}}_icon_anchor_horizontal" ng-model="view().icon.anchor.horizontal.isManual" ng-value="false" title="Use predefine value" ng-change="config().icon.anchor.horizontal = view().icon.anchor.horizontal.automatic; view().iconCustom()" />
                    <select ng-model="view().icon.anchor.horizontal.automatic" class="umb-editor" ng-disabled="view().icon.anchor.horizontal.isManual == true" ng-change="config().icon.anchor.horizontal = view().icon.anchor.horizontal.automatic; view().iconCustom()">
                        <option value="left">Left</option>
                        <option value="center">Center</option>
                        <option value="right">Right</option>
                    </select>
                </div>
                <div ng-show="view().icon.anchor.horizontal.isManual && view().icon.anchor.horizontal.manual >= config().icon.size.width">
                    <small style="color:red;">
                        Your focal point is now located outside the boundary of the image
                    </small>
                </div>
            </div>

            <div class="umb-el-wrap control-group">
                <label for="terratype_{{view().identifier}}_icon_anchor_vertical" class="control-label">
                    Vertical Anchor:
                    <small>
                        Focal point of the icon. Ether enter a custom value in pixels from the left hand edge or choose from a predefine list
                    </small>
                </label>
                <div class="controls">
                    <input type="radio" name="terratype_{{view().identifier}}_icon_anchor_vertical" ng-model="view().icon.anchor.vertical.isManual" ng-value="true" title="Use custom value" ng-change="config().icon.anchor.vertical = view().icon.anchor.vertical.manual; view().iconCustom()" />
                    <input type="number" ng-model="view().icon.anchor.vertical.manual" class="umb-editor" ng-disabled="view().icon.anchor.vertical.isManual == false" placeholder="Custom numeric value" ng-change="store().icon.anchor.vertical = view().icon.anchor.vertical.manual; view().iconCustom()" />
                </div>
                <div class="controls" style="margin-top:3px;">
                    <input type="radio" name="terratype_{{view().identifier}}_icon_anchor_vertical" ng-model="view().icon.anchor.vertical.isManual" ng-value="false" title="Use predefine value" ng-change="config().icon.anchor.vertical = view().icon.anchor.vertical.automatic; view().iconCustom()" />
                    <select ng-model="view().icon.anchor.vertical.automatic" class="umb-editor" ng-disabled="view().icon.anchor.vertical.isManual == true" ng-change="config().icon.anchor.vertical = view().icon.anchor.vertical.automatic; view().iconCustom()">
                        <option value="top">Top</option>
                        <option value="center">Center</option>
                        <option value="bottom">Bottom</option>
                    </select>
                </div>
                <div ng-show="view().icon.anchor.vertical.isManual && view().icon.anchor.vertical.manual >= config().icon.size.height">
                    <small style="color:red;">
                        Your focal point is now located outside the boundary of the image
                    </small>
                </div>
            </div>

            <!--    Disable example map
            <div class="umb-el-wrap control-group" ng-show="config().icon.url && config().icon.size.width && config().icon.size.height">
                <div ng-style="{'background-image':'url(' + view().provider.events.files.mapExample + ')', 'padding-top':'10px 0 10px 25px;'}">
                    <div style="padding:35px;">
                        <img ng-src="{{view().absoluteUrl(config().icon.url)}}" ng-style="{'width': config().icon.size.width + 'px', 'height': config().icon.size.height + 'px'}" />
                    </div>
                </div>
            </div>
            -->

        </section>
        <section>
            <h4 style="background-color:#dfdfdf;padding: 5px 0 5px 5px;margin-left:-5px;">
                Debugger
            </h4>
            <div class="umb-el-wrap control-group">
                <label for="terratype_{{view().identifier}}_debug" class="control-label">
                    Show Json:
                    <small>
                        Do you want to show the map or a json editor. This is for developer debugging purposes only.
                    </small>
                </label>
                <div class="controls">
                    <select id="terratype_{{view().identifier}}_debug" ng-model="config().debug" class="umb-editor">
                        <option value="0">Always show map</option>
                        <option value="1">Always show json</option>
                        <option value="2">Allow json to be viewable</option>
                    </select>
                </div>
            </div>
        </section>
    </fieldset>

    <div ng-show="view().error != null" style="color:red;">
        <p ng-bind-html="view().error">
        </p>
    </div>

    <div ng-show="config().debug != 0">
        <textarea style="height:300px;width:100%;margin-top:20px;background-color:khaki;color:black;" spellcheck=false ng-model="model.value" json-text></textarea>
    </div>

</div>
