<div class="slider-revolution" ng-controller="uSky.Slider.controller">

    <div class="slider-editor" ng-show="!currentSlide">

        <div ui-sortable="sortableOptions" ng-model="model.value.slides">

            <div class="slider-revolution-slider" ng-repeat="slide in model.value.slides">

                <i class="icon icon-delete slide-delete medium" ng-click="removeSlide($index)"></i>
                <i class="icon icon-list slide-delete medium" ng-click="editSlide(slide)"></i>
                <i class="icon icon-navigation slide-delete slide-move medium"></i>
                <i class="icon icon-documents slide-delete medium" ng-click="duplicateSlide(slide, $index)"></i>

                <div class="preview">
                    <div class="image-preview" style="background-color:{{ slide.backgroundColor }}; background-image: url({{ slide.mediaThumbnail; }})">
                        <a href="#" ng-hide="slide.mediaSrc != '' || slide.backgroundColor != ''" class="add-link" ng-click="addMedia(slide)" prevent-default>
                            <i class="icon icon-add medium"></i>
                        </a>
                        <a href="" ng-show="slide.mediaSrc != '' || slide.backgroundColor != ''" class="picked-image" ng-click="removeMedia(slide)">
                            <i class="icon icon-delete medium"></i>
                        </a>
                    </div>
                </div>

                <div class="properties">

                    <div class="property">
                        <label>Background Color:</label>
                        <div class="simpleColorPicker">
                            <input class="sliderrevolutioncolorpickertoggle colorInput" ng-model="slide.backgroundColor">
                            <div class="sliderrevolutioncolorpickertoggle colorBk" style="background-color: {{ slide.backgroundColor }}"></div>
                            <div class="colorPicker">
                                <canvas sliderrevolutioncolorpickerdrawing color="slide.backgroundColor"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="property">
                        <label>Transition:</label>
                        <select ng-model="slide.dataTransition" ng-options="transition for transition in dataTransition" class="data-transition"></select>
                    </div>

                    <div class="property">
                        <label>Slotamount:</label>
                        <select ng-model="slide.dataSlotamount" ng-options="size for size in dataSlotamount" class="data-slotamount"></select>
                    </div>

                    <div class="property">
                        <label>Delay:</label>
                        <input type="text" ng-model="slide.dataDelay" class="data-delay" />
                    </div>

                    <div class="property">
                        <label>Masterspeed:</label>
                        <input type="text" ng-model="slide.dataMasterspeed" class="data-masterspeed" />
                    </div>

                </div>

            </div>

        </div>

        <i class="icon icon-add slide-add large" ng-click="addSlide()"></i>
        <br />
        <div class="help-text"><span ng-click="addSlide()">Add</span> a new slide</div>

    </div>

    <div class="layer-editor" ng-show="currentSlide">

        <div>
            <i class="icon icon-arrow-left medium" ng-click="closeEditSlide()"></i>
        </div>

        <div class="layer-panel-editor" ng-style="setSliderHeight()">

            <div id="slideFluid" class="layer-show" ng-style="setSliderStyle()">

                <div class="slider-revolution-layer"
                     draggable
                     ng-class="{ selected: layer == $parent.currentLayer , hover: layer == $parent.overLayer }"
                     aspectratio="layer.type=='image'"
                     resize="layer.type=='image'"
                     data-ng-click="editLayer(layer)"
                     data-ng-mouseover="setOverLayer(layer)"
                     data-ng-mouseleave="initOverLayer()"
                     ng-repeat="layer in currentSlide.layers"
                     layer="layer"
                     ng-style="$parent.setLayerStyle(layer)">

                    <div data-ng-click="handlerClick()"
                         data-ng-mouseover="handlerMouseOver()"
                         data-ng-mouseleave="handlerMouseLeave()"
                         ng-style="$parent.setLayerStyleInto(layer)"
                         style="{{ layer.customCss }}">
                        
                        <div ng-if="layer.type=='text'" ng-bind-html-unsafe="layer.content"></div>
                        <img ng-if="layer.type=='image'" class="layer-img" ng-src="{{layer.content}}" />
                        <div ng-if="layer.type=='embed'" ng-bind-html-unsafe="layer.content"></div>

                    </div>

                </div>

            </div>

            <div class="layer-panel">

                <div class="layer-properties" ng-show="currentLayer">

                    <div ng-show="currentLayer.type=='text'">

                        <h3>Text</h3>

                        <div class="property">
                            <label>Html:</label>
                            <textarea ng-model="currentLayer.content"></textarea>
                        </div>

                        <div class="property">
                            <label>padding:</label>
                            <input class="small-input" ng-model="currentLayer.padding" type="text" />
                        </div>

                        <div class="property">
                            <label>Font size:</label>
                            <input class="small-input" ng-model="currentLayer.fontSize" type="text" />
                        </div>

                        <div class="property">
                            <label>Background:</label>
                            <div class="simpleColorPicker">
                                <input class="sliderrevolutioncolorpickertoggle colorInput" ng-model="currentLayer.backgroundColor">
                                <div class="sliderrevolutioncolorpickertoggle colorBk" style="background-color: {{ currentLayer.backgroundColor; }}"></div>
                                <div class="colorPicker">
                                    <canvas sliderrevolutioncolorpickerdrawing color="currentLayer.backgroundColor"></canvas>
                                </div>
                            </div>
                        </div>

                        <div class="property">
                            <label>Font color:</label>
                            <div class="simpleColorPicker">
                                <input class="sliderrevolutioncolorpickertoggle colorInput" ng-model="currentLayer.color">
                                <div class="sliderrevolutioncolorpickertoggle colorBk" style="background-color: {{ currentLayer.color; }}"></div>
                                <div class="colorPicker">
                                    <canvas sliderrevolutioncolorpickerdrawing color="currentLayer.color"></canvas>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div>

                        <h3>Animation</h3>

                        <div class="property">
                            <label>dataStart:</label>
                            <input class="small-input" ng-model="currentLayer.dataStart" type="text" />
                        </div>

                        <div class="property">
                            <label>dataSpeed:</label>
                            <input class="small-input" ng-model="currentLayer.dataSpeed" type="text" />
                        </div>

                        <div class="property">
                            <label>animation:</label>
                            <select class="small-input" ng-model="currentLayer.animationClass" ng-options="classe.value as classe.alias for classe in animationClasses"></select>
                        </div>

                        <div class="property">
                            <label>dataEasing:</label>
                            <select class="small-input" ng-model="currentLayer.dataEasing" ng-options="dataEasingItem for dataEasingItem in dataEasing"></select>
                        </div>

                    </div>

                    <div>

                        <h3>Custom css</h3>

                        <div class="property">
                            <label>Css:</label>
                            <textarea ng-model="currentLayer.customCss"></textarea>
                        </div>

                    </div>

                </div>

                <div class="layer-order">

                    <h3>Layers</h3>

                    <div ui-sortable="sortableOptions" ng-model="currentSlide.layers">
                        <div ng-repeat="layer in currentSlide.layers"
                             class="layer-list"
                             ng-class="{ selected: layer == currentLayer , hover: layer == overLayer }"
                             ng-mouseover="setOverLayer(layer)"
                             ng-mouseleave="initOverLayer()"
                             ng-click="editLayer(layer)">

                            <span>{{layer.type}} {{layer.name}}</span>
                            <i class="icon icon-navigation right medium"></i>
                            <i class="icon icon-trash right medium" ng-click="removeLayer($index)"></i>

                        </div>
                    </div>

                    <br />
                    <i class="icon icon-picture medium" ng-click="addPictureLayer()"></i>
                    <i class="icon icon-font medium" ng-click="addTextLayer()"></i>
                    <i class="icon icon-movie medium" ng-click="addMovieLayer()"></i>
                    <br />
                    <div class="help-text dark">Add new layer</div>

                </div>

            </div>


        </div>

    </div>

</div>