<div class="inner-content-dialog" ng-controller="Our.Umbraco.InnerContent.Controllers.InnerContentDialogController">

    <umb-tabs-nav ng-if="item.tabs" model="item.tabs"></umb-tabs-nav>

    <div class="umb-overlay-container">
        <umb-tabs-content class="form-horizontal" view="true">
            <umb-tab id="tab{{tab.id}}" ng-repeat="tab in item.tabs" rel="{{tab.id}}">

                <umb-property ng-repeat="property in tab.properties" property="property">
                    <umb-editor model="property"></umb-editor>
                </umb-property>

            </umb-tab>
        </umb-tabs-content>
    </div>

</div>