@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.GridMap>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<div style="background-color:yellow;margin:5px;">



</div>



@CurrentPage.GetGridHtml(Html, "griddy")
