<div class="umb-el-wrap control-group">
    <label for="terratype_{{view().identifier}}_googlemapv3_variety_basic" class="control-label">
        Show Basic Map:
        <small>
            Do you want to see the basic road map
        </small>
    </label>
    <div class="controls">
        <input id="terratype_{{view().identifier}}_googlemapv3_variety_basic" type="checkbox" ng-model="config().provider.variety.basic" ng-change="view().provider.events.optionChange()" ng-disabled="config().provider.variety.satellite == false && config().provider.variety.terrain == false" />
    </div>
</div>
<div class="umb-el-wrap control-group">
    <label for="terratype_{{view().identifier}}_googlemapv3_variety_terrain" class="control-label">
        Show Terrain Map:
        <small>
            Do you want to see the basic map with terrain
        </small>
    </label>
    <div class="controls">
        <input id="terratype_{{view().identifier}}_googlemapv3_variety_terrain" type="checkbox" ng-model="config().provider.variety.terrain" ng-change="view().provider.events.optionChange()" ng-disabled="config().provider.variety.satellite == false && config().provider.variety.basic == false" />
    </div>
</div>
<div class="umb-el-wrap control-group">
    <label for="terratype_{{view().identifier}}_googlemapv3_variety_basic" class="control-label">
        Show Satellite Map:
        <small>
            Do you want to see the satellite map
        </small>
    </label>
    <div class="controls">
        <input id="terratype_{{view().identifier}}_googlemapv3_variety_satellite" type="checkbox" ng-model="config().provider.variety.satellite" ng-change="view().provider.events.optionChange()" ng-disabled="config().provider.variety.basic == false && config().provider.variety.terrain == false" />
    </div>
</div>
<div ng-show="(config().provider.variety.basic + config().provider.variety.satellite + config().provider.variety.terrain) > 1">
    <div class="umb-el-wrap control-group">
        <label for="terratype_{{view().identifier}}_googlemapv3_variety_satellite" class="control-label">
            Map Selector Type:
            <small>
                How do you want the user to select between viewing a basic, terrain and satellite map
            </small>
        </label>
        <div class="controls">
            <select id="terratype_{{view().identifier}}_googlemapv3_variety_selector_type" ng-model="config().provider.variety.selector.type" class="umb-editor" ng-change="view().provider.events.optionChange()">
                <option value="1">Horizontal Bar</option>
                <option value="2">Dropdown Menu</option>
            </select>
        </div>
    </div>
    <div class="umb-el-wrap control-group">
        <label for="terratype_{{view().identifier}}_googlemapv3_variety_selector_position" class="control-label">
            Map Selector Position:
            <small>
                Where do you want the map selector to be positioned on the map
            </small>
        </label>
        <div class="controls">
            <select id="terratype_{{view().identifier}}_googlemapv3_variety_selector_position" ng-model="config().provider.variety.selector.position" class="umb-editor" ng-change="view().provider.events.optionChange()" convert-to-number>
                <option value="0">[Default]</option>
                <option value="1">Top Left</option>
                <option value="2">Top Center</option>
                <option value="3">Top Right</option>
                <option value="5">Left Top</option>
                <option value="7">Right Top</option>
                <option value="4">Left Center</option>
                <option value="13">Center</option>
                <option value="8">Right Center</option>
                <option value="6">Left Bottom</option>
                <option value="9">Right Bottom</option>
                <option value="10">Bottom Left</option>
                <option value="11">Bottom Center</option>
                <option value="12">Bottom Right</option>
            </select>
        </div>
    </div>
</div>

<div class="umb-el-wrap control-group">
    <label for="terratype_{{view().identifier}}_googlemapv3_fullscreen_enable" class="control-label">
        Fullscreen:
        <small>
            Allow the map to take up the whole screen. Only available on certain browsers / devices.
        </small>
    </label>
    <div class="controls">
        <input id="terratype_{{view().identifier}}_googlemapv3_fullscreen_enable" type="checkbox" ng-model="config().provider.fullscreen.enable" ng-change="view().provider.events.optionChange()" />
    </div>
</div>
<div class="umb-el-wrap control-group" ng-show="store().provider.fullscreen.enable == true">
    <label for="terratype_{{view().identifier}}_googlemapv3_fullscreen_position" class="control-label">
        Fullscreen Button Position:
        <small>
            Where do you want the fullscreen button to be positioned on the map
        </small>
    </label>
    <div class="controls">
        <select id="terratype_{{view().identifier}}_googlemapv3_fullscreen_position" ng-model="config().provider.fullscreen.position" class="umb-editor" ng-change="view().provider.events.optionChange()" convert-to-number>
            <option value="0">[Default]</option>
            <option value="1">Top Left</option>
            <option value="2">Top Center</option>
            <option value="3">Top Right</option>
            <option value="5">Left Top</option>
            <option value="7">Right Top</option>
            <option value="4">Left Center</option>
            <option value="13">Center</option>
            <option value="8">Right Center</option>
            <option value="6">Left Bottom</option>
            <option value="9">Right Bottom</option>
            <option value="10">Bottom Left</option>
            <option value="11">Bottom Center</option>
            <option value="12">Bottom Right</option>
        </select>
    </div>
</div>

<div class="umb-el-wrap control-group">
    <label for="terratype_{{view().identifier}}_googlemapv3_scale_enable" class="control-label">
        Scale:
        <small>
            Allow the map to show the current scale being used
        </small>
    </label>
    <div class="controls">
        <input id="terratype_{{view().identifier}}_googlemapv3_scale_enable" type="checkbox" ng-model="config().provider.scale.enable" ng-change="view().provider.events.optionChange()" />
    </div>
</div>

<div class="umb-el-wrap control-group">
    <label for="terratype_{{view().identifier}}_googlemapv3_streetview_enable" class="control-label">
        Streetview:
        <small>
            Allow user to select streetview mode
        </small>
    </label>
    <div class="controls">
        <input id="terratype_{{view().identifier}}_googlemapv3_streetview_enable" type="checkbox" ng-model="config().provider.streetView.enable" ng-change="view().provider.events.optionChange()" />
    </div>
</div>
<div class="umb-el-wrap control-group" ng-show="store().provider.streetView.enable == true">
    <label for="terratype_{{view().identifier}}_googlemapv3_streetview_position" class="control-label">
        Scale Position:
        <small>
            Where do you want the streetview 'pegman' to be positioned on the map
        </small>
    </label>
    <div class="controls">
        <select id="terratype_{{view().identifier}}_googlemapv3_streetview_position" ng-model="config().provider.streetView.position" class="umb-editor" ng-change="view().provider.events.optionChange()" convert-to-number>
            <option value="0">[Default]</option>
            <option value="1">Top Left</option>
            <option value="2">Top Center</option>
            <option value="3">Top Right</option>
            <option value="5">Left Top</option>
            <option value="7">Right Top</option>
            <option value="4">Left Center</option>
            <option value="13">Center</option>
            <option value="8">Right Center</option>
            <option value="6">Left Bottom</option>
            <option value="9">Right Bottom</option>
            <option value="10">Bottom Left</option>
            <option value="11">Bottom Center</option>
            <option value="12">Bottom Right</option>
        </select>
    </div>
</div>

<div class="umb-el-wrap control-group">
    <label for="terratype_{{view().identifier}}_googlemapv3_zoomcontrol_enable" class="control-label">
        Zoom:
        <small>
            Show zoom control
        </small>
    </label>
    <div class="controls">
        <input id="terratype_{{view().identifier}}_googlemapv3_zoomcontrol_enable" type="checkbox" ng-model="config().provider.zoomControl.enable" ng-change="view().provider.events.optionChange()" />
    </div>
</div>
<div class="umb-el-wrap control-group" ng-show="store().provider.zoomControl.enable == true">
    <label for="terratype_{{view().identifier}}_googlemapv3_zoomcontrol_position" class="control-label">
        Zoom Position:
        <small>
            Where do you want the zoom control buttons to be positioned on the map
        </small>
    </label>
    <div class="controls">
        <select id="terratype_{{view().identifier}}_googlemapv3_zoomcontrol_position" ng-model="config().provider.zoomControl.position" class="umb-editor" ng-change="view().provider.events.optionChange()" convert-to-number>
            <option value="0">[Default]</option>
            <option value="1">Top Left</option>
            <option value="2">Top Center</option>
            <option value="3">Top Right</option>
            <option value="5">Left Top</option>
            <option value="7">Right Top</option>
            <option value="4">Left Center</option>
            <option value="13">Center</option>
            <option value="8">Right Center</option>
            <option value="6">Left Bottom</option>
            <option value="9">Right Bottom</option>
            <option value="10">Bottom Left</option>
            <option value="11">Bottom Center</option>
            <option value="12">Bottom Right</option>
        </select>
    </div>
</div>

<div class="umb-el-wrap control-group" ng-show="config().provider.variety.basic == true">
    <label for="terratype_{{view().identifier}}_googlemapv3_style" class="control-label">
        Styling:
        <small>
            Predefined map styles
        </small>
    </label>
    <div class="controls">
        <select id="terratype_{{view().identifier}}_googlemapv3_style" ng-model="config().provider.predefineStyling" class="umb-editor" ng-change="view().provider.events.styleChange()">
            <option value="">Standard</option>
            <option value="avocado">Avocado</option>
            <option value="blush">Blush</option>
            <option value="brightandbubbly">Bright and Bubbly</option>
            <option value="colbalt">Colbalt</option>
            <option value="crisp">Crisp</option>
            <option value="dark">Dark</option>
            <option value="desert">Desert</option>
            <option value="flat">Flat</option>
            <option value="hopper">Hopper</option>
            <option value="hotel">Hotel</option>
            <option value="ice">Ice</option>
            <option value="lightdream">Light Dream</option>
            <option value="lost">Lost</option>
            <option value="mapbox">MapBox</option>
            <option value="mutedblue">Muted Blue</option>
            <option value="night">Night</option>
            <option value="olddrymud">Old Dry Mud</option>
            <option value="paledawn">Pale Dawn</option>
            <option value="redalert">Red Alert</option>
            <option value="retro">Retro</option>
            <option value="shiftworker">Shift Worker</option>
            <option value="silver">Silver</option>
            <option value="unsaturatedbrowns">Unsaturated Browns</option>
        </select>
    </div>
</div>
<div class="umb-el-wrap control-group">
    <label for="terratype_{{view().identifier}}_googlemapv3_showroads" class="control-label">
        Show Roads:
        <small>
            Do you want roads to appear on the map
        </small>
    </label>
    <div class="controls">
        <input id="terratype_{{view().identifier}}_googlemapv3_showroads" type="checkbox" ng-model="config().provider.showRoads" ng-change="view().provider.events.styleChange()" />
    </div>
</div>
<div class="umb-el-wrap control-group">
    <label for="terratype_{{view().identifier}}_googlemapv3_showlandmarks" class="control-label">
        Show Landmarks:
        <small>
            Do you want landmarks to appear on the map
        </small>
    </label>
    <div class="controls">
        <input id="terratype_{{view().identifier}}_googlemapv3_showlandmarks" type="checkbox" ng-model="config().provider.showLandmarks" ng-change="view().provider.events.styleChange()" />
    </div>
</div>
<div class="umb-el-wrap control-group">
    <label for="terratype_{{view().identifier}}_googlemapv3_showlabels" class="control-label">
        Show Labels:
        <small>
            Do you want labels (names of countries, regions, areas, etc) to appear on the map
        </small>
    </label>
    <div class="controls">
        <input id="terratype_{{view().identifier}}_googlemapv3_showlabels" type="checkbox" ng-model="config().provider.showLabels" ng-change="view().provider.events.styleChange()" />
    </div>
</div>
<div class="umb-el-wrap control-group">
    <label for="terratype_{{view().identifier}}_googlemapv3_defaultlocation" class="control-label">
        Default location:
        <small>
            Select the default location when displaying this map to a content editor
        </small>
    </label>
    <div class="controls">
        <ng-include src="view().provider.events.files.views.editor.apperance">
        </ng-include>
    </div>
</div>
